{
  "root": true,
  "extends": [
    "@socketsecurity/eslint-config/jsdoc"
  ],
  "settings": {
  },
  "parserOptions": {
    "project": "./tsconfig.eslint.json"
  },
  "rules": {
    "@typescript-eslint/quotes": ["error", "single", { "avoidEscape": true, "allowTemplateLiterals": false }],
    "jsdoc/require-jsdoc": "off",
    "jsdoc/require-param": "off",
    "jsdoc/require-returns": "off",
    "no-console": "warn"
  }
}
