{
  "extends": "@socketsecurity",
  "root": true,
  "parserOptions": {
    "project": [
      "./build/tsconfig.json",
      "./tests/tsconfig.json"
    ]
  },
  "rules": {
    "no-console": "warn"
  }
}
