.DS_Store
._.DS_Store
Thumbs.db
/.env
/.nvm
/.type-coverage
/.vscode
/coverage
/npm-debug.log
**/.cache
**/dist
**/node_modules
**/*.tsbuildinfo
*.d.ts
*.d.ts.map

!/.vscode/extensions.json
!api*.d.ts
