{
  "openapi": "3.0.0",
  "info": {
    "description": "Specification of the Socket API endpoints",
    "title": "API Endpoints",
    "version": "0.0.1"
  },
  "servers": [
    {
      "url": "https://api.socket.dev/v0"
    }
  ],
  "components": {
    "requestBodies": {},
    "responses": {
      "SocketBadRequest": {
        "content": {
          "application/json": {
            "schema": {
              "type": "object",
              "additionalProperties": false,
              "properties": {
                "error": {
                  "type": "object",
                  "additionalProperties": false,
                  "properties": {
                    "message": {
                      "type": "string",
                      "default": ""
                    }
                  },
                  "required": [
                    "message"
                  ]
                }
              },
              "required": [
                "error"
              ]
            }
          }
        },
        "description": "Bad request"
      },
      "SocketUnauthorized": {
        "content": {
          "application/json": {
            "schema": {
              "type": "object",
              "additionalProperties": false,
              "properties": {
                "error": {
                  "type": "object",
                  "additionalProperties": false,
                  "properties": {
                    "message": {
                      "type": "string",
                      "default": ""
                    }
                  },
                  "required": [
                    "message"
                  ]
                }
              },
              "required": [
                "error"
              ]
            }
          }
        },
        "description": "Unauthorized"
      },
      "SocketForbidden": {
        "content": {
          "application/json": {
            "schema": {
              "type": "object",
              "additionalProperties": false,
              "properties": {
                "error": {
                  "type": "object",
                  "additionalProperties": false,
                  "properties": {
                    "message": {
                      "type": "string",
                      "default": ""
                    }
                  },
                  "required": [
                    "message"
                  ]
                }
              },
              "required": [
                "error"
              ]
            }
          }
        },
        "description": "Insufficient max_quota for API method"
      },
      "SocketNotFoundResponse": {
        "content": {
          "application/json": {
            "schema": {
              "type": "object",
              "additionalProperties": false,
              "properties": {
                "error": {
                  "type": "object",
                  "additionalProperties": false,
                  "properties": {
                    "message": {
                      "type": "string",
                      "default": ""
                    }
                  },
                  "required": [
                    "message"
                  ]
                }
              },
              "required": [
                "error"
              ]
            }
          }
        },
        "description": "Resource not found"
      },
      "SocketTooManyRequestsResponse": {
        "description": "Insufficient quota for API route",
        "headers": {
          "Retry-After": {
            "description": "Retry contacting the endpoint *at least* after seconds.\nSee https://tools.ietf.org/html/rfc7231#section-7.1.3",
            "schema": {
              "format": "int32",
              "type": "integer"
            }
          }
        },
        "content": {
          "application/json": {
            "schema": {
              "type": "object",
              "additionalProperties": false,
              "properties": {
                "error": {
                  "type": "object",
                  "additionalProperties": false,
                  "properties": {
                    "message": {
                      "type": "string",
                      "default": ""
                    }
                  },
                  "required": [
                    "message"
                  ]
                }
              },
              "required": [
                "error"
              ]
            }
          }
        }
      }
    },
    "schemas": {
      "SocketIssueList": {
        "type": "array",
        "items": {
          "$ref": "#/components/schemas/SocketIssue"
        }
      },
      "SocketPackageScore": {
        "type": "object",
        "additionalProperties": false,
        "properties": {
          "supplyChainRisk": {
            "$ref": "#/components/schemas/SocketSupplyChainScore"
          },
          "quality": {
            "$ref": "#/components/schemas/SocketQualityScore"
          },
          "maintenance": {
            "$ref": "#/components/schemas/SocketMaintenanceScore"
          },
          "vulnerability": {
            "$ref": "#/components/schemas/SocketVulnerabilityScore"
          },
          "license": {
            "$ref": "#/components/schemas/SocketLicenseScore"
          },
          "miscellaneous": {
            "$ref": "#/components/schemas/SocketMiscellaneousScore"
          },
          "depscore": {
            "type": "number",
            "default": 0
          }
        },
        "required": [
          "depscore",
          "license",
          "maintenance",
          "miscellaneous",
          "quality",
          "supplyChainRisk",
          "vulnerability"
        ]
      },
      "SocketReport": {
        "type": "object",
        "additionalProperties": false,
        "properties": {
          "id": {
            "type": "string",
            "default": ""
          },
          "healthy": {
            "type": "boolean",
            "default": false
          },
          "issues": {
            "$ref": "#/components/schemas/SocketIssueList"
          },
          "score": {
            "type": "object",
            "additionalProperties": false,
            "properties": {
              "avgSupplyChainRisk": {
                "type": "number",
                "default": 0
              },
              "avgQuality": {
                "type": "number",
                "default": 0
              },
              "avgMaintenance": {
                "type": "number",
                "default": 0
              },
              "avgVulnerability": {
                "type": "number",
                "default": 0
              },
              "avgLicense": {
                "type": "number",
                "default": 0
              }
            },
            "required": [
              "avgLicense",
              "avgMaintenance",
              "avgQuality",
              "avgSupplyChainRisk",
              "avgVulnerability"
            ]
          }
        },
        "required": [
          "healthy",
          "id",
          "issues",
          "score"
        ]
      },
      "SocketIssue": {
        "anyOf": [
          {
            "type": "object",
            "additionalProperties": false,
            "properties": {
              "type": {
                "type": "string",
                "enum": [
                  "criticalCVE"
                ]
              },
              "value": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/SocketIssueBasics"
                  },
                  {
                    "type": "object",
                    "additionalProperties": false,
                    "properties": {
                      "description": {
                        "type": "string",
                        "default": ""
                      },
                      "props": {
                        "type": "object",
                        "additionalProperties": false,
                        "properties": {
                          "id": {
                            "type": "integer",
                            "default": 0
                          },
                          "title": {
                            "type": "string",
                            "default": ""
                          },
                          "severity": {
                            "type": "string",
                            "default": "critical"
                          },
                          "url": {
                            "type": "string",
                            "default": ""
                          }
                        },
                        "required": [
                          "id",
                          "severity",
                          "title",
                          "url"
                        ]
                      },
                      "usage": {
                        "$ref": "#/components/schemas/SocketUsageRef"
                      }
                    },
                    "required": [
                      "description",
                      "props"
                    ]
                  }
                ]
              }
            }
          },
          {
            "type": "object",
            "additionalProperties": false,
            "properties": {
              "type": {
                "type": "string",
                "enum": [
                  "cve"
                ]
              },
              "value": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/SocketIssueBasics"
                  },
                  {
                    "type": "object",
                    "additionalProperties": false,
                    "properties": {
                      "description": {
                        "type": "string",
                        "default": ""
                      },
                      "props": {
                        "type": "object",
                        "additionalProperties": false,
                        "properties": {
                          "id": {
                            "type": "integer",
                            "default": 0
                          },
                          "title": {
                            "type": "string",
                            "default": ""
                          },
                          "severity": {
                            "type": "string",
                            "default": "high"
                          },
                          "url": {
                            "type": "string",
                            "default": ""
                          }
                        },
                        "required": [
                          "id",
                          "severity",
                          "title",
                          "url"
                        ]
                      },
                      "usage": {
                        "$ref": "#/components/schemas/SocketUsageRef"
                      }
                    },
                    "required": [
                      "description",
                      "props"
                    ]
                  }
                ]
              }
            }
          },
          {
            "type": "object",
            "additionalProperties": false,
            "properties": {
              "type": {
                "type": "string",
                "enum": [
                  "mildCVE"
                ]
              },
              "value": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/SocketIssueBasics"
                  },
                  {
                    "type": "object",
                    "additionalProperties": false,
                    "properties": {
                      "description": {
                        "type": "string",
                        "default": ""
                      },
                      "props": {
                        "type": "object",
                        "additionalProperties": false,
                        "properties": {
                          "id": {
                            "type": "integer",
                            "default": 0
                          },
                          "title": {
                            "type": "string",
                            "default": ""
                          },
                          "severity": {
                            "type": "string",
                            "default": "low"
                          },
                          "url": {
                            "type": "string",
                            "default": ""
                          }
                        },
                        "required": [
                          "id",
                          "severity",
                          "title",
                          "url"
                        ]
                      },
                      "usage": {
                        "$ref": "#/components/schemas/SocketUsageRef"
                      }
                    },
                    "required": [
                      "description",
                      "props"
                    ]
                  }
                ]
              }
            }
          },
          {
            "type": "object",
            "additionalProperties": false,
            "properties": {
              "type": {
                "type": "string",
                "enum": [
                  "installScripts"
                ]
              },
              "value": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/SocketIssueBasics"
                  },
                  {
                    "type": "object",
                    "additionalProperties": false,
                    "properties": {
                      "description": {
                        "type": "string",
                        "default": ""
                      },
                      "props": {
                        "type": "object",
                        "additionalProperties": false,
                        "properties": {
                          "script": {
                            "type": "string",
                            "default": ""
                          },
                          "source": {
                            "type": "string",
                            "default": ""
                          }
                        },
                        "required": [
                          "script",
                          "source"
                        ]
                      },
                      "usage": {
                        "$ref": "#/components/schemas/SocketUsageRef"
                      }
                    },
                    "required": [
                      "description",
                      "props"
                    ]
                  }
                ]
              }
            }
          },
          {
            "type": "object",
            "additionalProperties": false,
            "properties": {
              "type": {
                "type": "string",
                "enum": [
                  "hasNativeCode"
                ]
              },
              "value": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/SocketIssueBasics"
                  },
                  {
                    "type": "object",
                    "additionalProperties": false,
                    "properties": {
                      "description": {
                        "type": "string",
                        "default": ""
                      },
                      "props": {
                        "type": "object",
                        "additionalProperties": false,
                        "properties": {}
                      },
                      "usage": {
                        "$ref": "#/components/schemas/SocketUsageRef"
                      }
                    },
                    "required": [
                      "description",
                      "props"
                    ]
                  }
                ]
              }
            }
          },
          {
            "type": "object",
            "additionalProperties": false,
            "properties": {
              "type": {
                "type": "string",
                "enum": [
                  "binScriptConfusion"
                ]
              },
              "value": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/SocketIssueBasics"
                  },
                  {
                    "type": "object",
                    "additionalProperties": false,
                    "properties": {
                      "description": {
                        "type": "string",
                        "default": ""
                      },
                      "props": {
                        "type": "object",
                        "additionalProperties": false,
                        "properties": {
                          "binScript": {
                            "type": "string",
                            "default": ""
                          }
                        },
                        "required": [
                          "binScript"
                        ]
                      },
                      "usage": {
                        "$ref": "#/components/schemas/SocketUsageRef"
                      }
                    },
                    "required": [
                      "description",
                      "props"
                    ]
                  }
                ]
              }
            }
          },
          {
            "type": "object",
            "additionalProperties": false,
            "properties": {
              "type": {
                "type": "string",
                "enum": [
                  "shellScriptOverride"
                ]
              },
              "value": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/SocketIssueBasics"
                  },
                  {
                    "type": "object",
                    "additionalProperties": false,
                    "properties": {
                      "description": {
                        "type": "string",
                        "default": ""
                      },
                      "props": {
                        "type": "object",
                        "additionalProperties": false,
                        "properties": {
                          "binScript": {
                            "type": "string",
                            "default": ""
                          }
                        },
                        "required": [
                          "binScript"
                        ]
                      },
                      "usage": {
                        "$ref": "#/components/schemas/SocketUsageRef"
                      }
                    },
                    "required": [
                      "description",
                      "props"
                    ]
                  }
                ]
              }
            }
          },
          {
            "type": "object",
            "additionalProperties": false,
            "properties": {
              "type": {
                "type": "string",
                "enum": [
                  "filesystemAccess"
                ]
              },
              "value": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/SocketIssueBasics"
                  },
                  {
                    "type": "object",
                    "additionalProperties": false,
                    "properties": {
                      "description": {
                        "type": "string",
                        "default": ""
                      },
                      "props": {
                        "type": "object",
                        "additionalProperties": false,
                        "properties": {
                          "module": {
                            "type": "string",
                            "default": "fs"
                          }
                        },
                        "required": [
                          "module"
                        ]
                      },
                      "usage": {
                        "$ref": "#/components/schemas/SocketUsageRef"
                      }
                    },
                    "required": [
                      "description",
                      "props"
                    ]
                  }
                ]
              }
            }
          },
          {
            "type": "object",
            "additionalProperties": false,
            "properties": {
              "type": {
                "type": "string",
                "enum": [
                  "networkAccess"
                ]
              },
              "value": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/SocketIssueBasics"
                  },
                  {
                    "type": "object",
                    "additionalProperties": false,
                    "properties": {
                      "description": {
                        "type": "string",
                        "default": ""
                      },
                      "props": {
                        "type": "object",
                        "additionalProperties": false,
                        "properties": {
                          "module": {
                            "type": "string",
                            "default": "net"
                          }
                        },
                        "required": [
                          "module"
                        ]
                      },
                      "usage": {
                        "$ref": "#/components/schemas/SocketUsageRef"
                      }
                    },
                    "required": [
                      "description",
                      "props"
                    ]
                  }
                ]
              }
            }
          },
          {
            "type": "object",
            "additionalProperties": false,
            "properties": {
              "type": {
                "type": "string",
                "enum": [
                  "shellAccess"
                ]
              },
              "value": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/SocketIssueBasics"
                  },
                  {
                    "type": "object",
                    "additionalProperties": false,
                    "properties": {
                      "description": {
                        "type": "string",
                        "default": ""
                      },
                      "props": {
                        "type": "object",
                        "additionalProperties": false,
                        "properties": {
                          "module": {
                            "type": "string",
                            "default": "child_process"
                          }
                        },
                        "required": [
                          "module"
                        ]
                      },
                      "usage": {
                        "$ref": "#/components/schemas/SocketUsageRef"
                      }
                    },
                    "required": [
                      "description",
                      "props"
                    ]
                  }
                ]
              }
            }
          },
          {
            "type": "object",
            "additionalProperties": false,
            "properties": {
              "type": {
                "type": "string",
                "enum": [
                  "debugAccess"
                ]
              },
              "value": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/SocketIssueBasics"
                  },
                  {
                    "type": "object",
                    "additionalProperties": false,
                    "properties": {
                      "description": {
                        "type": "string",
                        "default": ""
                      },
                      "props": {
                        "type": "object",
                        "additionalProperties": false,
                        "properties": {
                          "module": {
                            "type": "string",
                            "default": "vm"
                          }
                        },
                        "required": [
                          "module"
                        ]
                      },
                      "usage": {
                        "$ref": "#/components/schemas/SocketUsageRef"
                      }
                    },
                    "required": [
                      "description",
                      "props"
                    ]
                  }
                ]
              }
            }
          },
          {
            "type": "object",
            "additionalProperties": false,
            "properties": {
              "type": {
                "type": "string",
                "enum": [
                  "longStrings"
                ]
              },
              "value": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/SocketIssueBasics"
                  },
                  {
                    "type": "object",
                    "additionalProperties": false,
                    "properties": {
                      "description": {
                        "type": "string",
                        "default": ""
                      },
                      "props": {
                        "type": "object",
                        "additionalProperties": false,
                        "properties": {}
                      },
                      "usage": {
                        "$ref": "#/components/schemas/SocketUsageRef"
                      }
                    },
                    "required": [
                      "description",
                      "props"
                    ]
                  }
                ]
              }
            }
          },
          {
            "type": "object",
            "additionalProperties": false,
            "properties": {
              "type": {
                "type": "string",
                "enum": [
                  "highEntropyStrings"
                ]
              },
              "value": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/SocketIssueBasics"
                  },
                  {
                    "type": "object",
                    "additionalProperties": false,
                    "properties": {
                      "description": {
                        "type": "string",
                        "default": ""
                      },
                      "props": {
                        "type": "object",
                        "additionalProperties": false,
                        "properties": {}
                      },
                      "usage": {
                        "$ref": "#/components/schemas/SocketUsageRef"
                      }
                    },
                    "required": [
                      "description",
                      "props"
                    ]
                  }
                ]
              }
            }
          },
          {
            "type": "object",
            "additionalProperties": false,
            "properties": {
              "type": {
                "type": "string",
                "enum": [
                  "urlStrings"
                ]
              },
              "value": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/SocketIssueBasics"
                  },
                  {
                    "type": "object",
                    "additionalProperties": false,
                    "properties": {
                      "description": {
                        "type": "string",
                        "default": ""
                      },
                      "props": {
                        "type": "object",
                        "additionalProperties": false,
                        "properties": {
                          "urlFragment": {
                            "type": "string",
                            "default": ""
                          }
                        },
                        "required": [
                          "urlFragment"
                        ]
                      },
                      "usage": {
                        "$ref": "#/components/schemas/SocketUsageRef"
                      }
                    },
                    "required": [
                      "description",
                      "props"
                    ]
                  }
                ]
              }
            }
          },
          {
            "type": "object",
            "additionalProperties": false,
            "properties": {
              "type": {
                "type": "string",
                "enum": [
                  "usesEval"
                ]
              },
              "value": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/SocketIssueBasics"
                  },
                  {
                    "type": "object",
                    "additionalProperties": false,
                    "properties": {
                      "description": {
                        "type": "string",
                        "default": ""
                      },
                      "props": {
                        "type": "object",
                        "additionalProperties": false,
                        "properties": {
                          "evalType": {
                            "type": "string",
                            "default": "eval"
                          }
                        },
                        "required": [
                          "evalType"
                        ]
                      },
                      "usage": {
                        "$ref": "#/components/schemas/SocketUsageRef"
                      }
                    },
                    "required": [
                      "description",
                      "props"
                    ]
                  }
                ]
              }
            }
          },
          {
            "type": "object",
            "additionalProperties": false,
            "properties": {
              "type": {
                "type": "string",
                "enum": [
                  "dynamicRequire"
                ]
              },
              "value": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/SocketIssueBasics"
                  },
                  {
                    "type": "object",
                    "additionalProperties": false,
                    "properties": {
                      "description": {
                        "type": "string",
                        "default": ""
                      },
                      "props": {
                        "type": "object",
                        "additionalProperties": false,
                        "properties": {}
                      },
                      "usage": {
                        "$ref": "#/components/schemas/SocketUsageRef"
                      }
                    },
                    "required": [
                      "description",
                      "props"
                    ]
                  }
                ]
              }
            }
          },
          {
            "type": "object",
            "additionalProperties": false,
            "properties": {
              "type": {
                "type": "string",
                "enum": [
                  "envVars"
                ]
              },
              "value": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/SocketIssueBasics"
                  },
                  {
                    "type": "object",
                    "additionalProperties": false,
                    "properties": {
                      "description": {
                        "type": "string",
                        "default": ""
                      },
                      "props": {
                        "type": "object",
                        "additionalProperties": false,
                        "properties": {
                          "envVars": {
                            "type": "string",
                            "default": ""
                          }
                        },
                        "required": [
                          "envVars"
                        ]
                      },
                      "usage": {
                        "$ref": "#/components/schemas/SocketUsageRef"
                      }
                    },
                    "required": [
                      "description",
                      "props"
                    ]
                  }
                ]
              }
            }
          },
          {
            "type": "object",
            "additionalProperties": false,
            "properties": {
              "type": {
                "type": "string",
                "enum": [
                  "missingDependency"
                ]
              },
              "value": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/SocketIssueBasics"
                  },
                  {
                    "type": "object",
                    "additionalProperties": false,
                    "properties": {
                      "description": {
                        "type": "string",
                        "default": ""
                      },
                      "props": {
                        "type": "object",
                        "additionalProperties": false,
                        "properties": {
                          "name": {
                            "type": "string",
                            "default": ""
                          }
                        },
                        "required": [
                          "name"
                        ]
                      },
                      "usage": {
                        "$ref": "#/components/schemas/SocketUsageRef"
                      }
                    },
                    "required": [
                      "description",
                      "props"
                    ]
                  }
                ]
              }
            }
          },
          {
            "type": "object",
            "additionalProperties": false,
            "properties": {
              "type": {
                "type": "string",
                "enum": [
                  "unusedDependency"
                ]
              },
              "value": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/SocketIssueBasics"
                  },
                  {
                    "type": "object",
                    "additionalProperties": false,
                    "properties": {
                      "description": {
                        "type": "string",
                        "default": ""
                      },
                      "props": {
                        "type": "object",
                        "additionalProperties": false,
                        "properties": {
                          "name": {
                            "type": "string",
                            "default": ""
                          },
                          "version": {
                            "type": "string",
                            "default": ""
                          }
                        },
                        "required": [
                          "name",
                          "version"
                        ]
                      },
                      "usage": {
                        "$ref": "#/components/schemas/SocketUsageRef"
                      }
                    },
                    "required": [
                      "description",
                      "props"
                    ]
                  }
                ]
              }
            }
          },
          {
            "type": "object",
            "additionalProperties": false,
            "properties": {
              "type": {
                "type": "string",
                "enum": [
                  "peerDependency"
                ]
              },
              "value": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/SocketIssueBasics"
                  },
                  {
                    "type": "object",
                    "additionalProperties": false,
                    "properties": {
                      "description": {
                        "type": "string",
                        "default": ""
                      },
                      "props": {
                        "type": "object",
                        "additionalProperties": false,
                        "properties": {
                          "name": {
                            "type": "string",
                            "default": ""
                          }
                        },
                        "required": [
                          "name"
                        ]
                      },
                      "usage": {
                        "$ref": "#/components/schemas/SocketUsageRef"
                      }
                    },
                    "required": [
                      "description",
                      "props"
                    ]
                  }
                ]
              }
            }
          },
          {
            "type": "object",
            "additionalProperties": false,
            "properties": {
              "type": {
                "type": "string",
                "enum": [
                  "uncaughtOptionalDependency"
                ]
              },
              "value": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/SocketIssueBasics"
                  },
                  {
                    "type": "object",
                    "additionalProperties": false,
                    "properties": {
                      "description": {
                        "type": "string",
                        "default": ""
                      },
                      "props": {
                        "type": "object",
                        "additionalProperties": false,
                        "properties": {
                          "name": {
                            "type": "string",
                            "default": ""
                          }
                        },
                        "required": [
                          "name"
                        ]
                      },
                      "usage": {
                        "$ref": "#/components/schemas/SocketUsageRef"
                      }
                    },
                    "required": [
                      "description",
                      "props"
                    ]
                  }
                ]
              }
            }
          },
          {
            "type": "object",
            "additionalProperties": false,
            "properties": {
              "type": {
                "type": "string",
                "enum": [
                  "unresolvedRequire"
                ]
              },
              "value": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/SocketIssueBasics"
                  },
                  {
                    "type": "object",
                    "additionalProperties": false,
                    "properties": {
                      "description": {
                        "type": "string",
                        "default": ""
                      },
                      "props": {
                        "type": "object",
                        "additionalProperties": false,
                        "properties": {}
                      },
                      "usage": {
                        "$ref": "#/components/schemas/SocketUsageRef"
                      }
                    },
                    "required": [
                      "description",
                      "props"
                    ]
                  }
                ]
              }
            }
          },
          {
            "type": "object",
            "additionalProperties": false,
            "properties": {
              "type": {
                "type": "string",
                "enum": [
                  "extraneousDependency"
                ]
              },
              "value": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/SocketIssueBasics"
                  },
                  {
                    "type": "object",
                    "additionalProperties": false,
                    "properties": {
                      "description": {
                        "type": "string",
                        "default": ""
                      },
                      "props": {
                        "type": "object",
                        "additionalProperties": false,
                        "properties": {}
                      },
                      "usage": {
                        "$ref": "#/components/schemas/SocketUsageRef"
                      }
                    },
                    "required": [
                      "description",
                      "props"
                    ]
                  }
                ]
              }
            }
          },
          {
            "type": "object",
            "additionalProperties": false,
            "properties": {
              "type": {
                "type": "string",
                "enum": [
                  "obfuscatedRequire"
                ]
              },
              "value": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/SocketIssueBasics"
                  },
                  {
                    "type": "object",
                    "additionalProperties": false,
                    "properties": {
                      "description": {
                        "type": "string",
                        "default": ""
                      },
                      "props": {
                        "type": "object",
                        "additionalProperties": false,
                        "properties": {}
                      },
                      "usage": {
                        "$ref": "#/components/schemas/SocketUsageRef"
                      }
                    },
                    "required": [
                      "description",
                      "props"
                    ]
                  }
                ]
              }
            }
          },
          {
            "type": "object",
            "additionalProperties": false,
            "properties": {
              "type": {
                "type": "string",
                "enum": [
                  "obfuscatedFile"
                ]
              },
              "value": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/SocketIssueBasics"
                  },
                  {
                    "type": "object",
                    "additionalProperties": false,
                    "properties": {
                      "description": {
                        "type": "string",
                        "default": ""
                      },
                      "props": {
                        "type": "object",
                        "additionalProperties": false,
                        "properties": {
                          "confidence": {
                            "type": "number",
                            "default": 0
                          }
                        },
                        "required": [
                          "confidence"
                        ]
                      },
                      "usage": {
                        "$ref": "#/components/schemas/SocketUsageRef"
                      }
                    },
                    "required": [
                      "description",
                      "props"
                    ]
                  }
                ]
              }
            }
          },
          {
            "type": "object",
            "additionalProperties": false,
            "properties": {
              "type": {
                "type": "string",
                "enum": [
                  "minifiedFile"
                ]
              },
              "value": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/SocketIssueBasics"
                  },
                  {
                    "type": "object",
                    "additionalProperties": false,
                    "properties": {
                      "description": {
                        "type": "string",
                        "default": ""
                      },
                      "props": {
                        "type": "object",
                        "additionalProperties": false,
                        "properties": {
                          "confidence": {
                            "type": "number",
                            "default": 0
                          }
                        },
                        "required": [
                          "confidence"
                        ]
                      },
                      "usage": {
                        "$ref": "#/components/schemas/SocketUsageRef"
                      }
                    },
                    "required": [
                      "description",
                      "props"
                    ]
                  }
                ]
              }
            }
          },
          {
            "type": "object",
            "additionalProperties": false,
            "properties": {
              "type": {
                "type": "string",
                "enum": [
                  "bidi"
                ]
              },
              "value": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/SocketIssueBasics"
                  },
                  {
                    "type": "object",
                    "additionalProperties": false,
                    "properties": {
                      "description": {
                        "type": "string",
                        "default": ""
                      },
                      "props": {
                        "type": "object",
                        "additionalProperties": false,
                        "properties": {}
                      },
                      "usage": {
                        "$ref": "#/components/schemas/SocketUsageRef"
                      }
                    },
                    "required": [
                      "description",
                      "props"
                    ]
                  }
                ]
              }
            }
          },
          {
            "type": "object",
            "additionalProperties": false,
            "properties": {
              "type": {
                "type": "string",
                "enum": [
                  "zeroWidth"
                ]
              },
              "value": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/SocketIssueBasics"
                  },
                  {
                    "type": "object",
                    "additionalProperties": false,
                    "properties": {
                      "description": {
                        "type": "string",
                        "default": ""
                      },
                      "props": {
                        "type": "object",
                        "additionalProperties": false,
                        "properties": {}
                      },
                      "usage": {
                        "$ref": "#/components/schemas/SocketUsageRef"
                      }
                    },
                    "required": [
                      "description",
                      "props"
                    ]
                  }
                ]
              }
            }
          },
          {
            "type": "object",
            "additionalProperties": false,
            "properties": {
              "type": {
                "type": "string",
                "enum": [
                  "badEncoding"
                ]
              },
              "value": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/SocketIssueBasics"
                  },
                  {
                    "type": "object",
                    "additionalProperties": false,
                    "properties": {
                      "description": {
                        "type": "string",
                        "default": ""
                      },
                      "props": {
                        "type": "object",
                        "additionalProperties": false,
                        "properties": {
                          "encoding": {
                            "type": "string",
                            "default": "utf8"
                          }
                        },
                        "required": [
                          "encoding"
                        ]
                      },
                      "usage": {
                        "$ref": "#/components/schemas/SocketUsageRef"
                      }
                    },
                    "required": [
                      "description",
                      "props"
                    ]
                  }
                ]
              }
            }
          },
          {
            "type": "object",
            "additionalProperties": false,
            "properties": {
              "type": {
                "type": "string",
                "enum": [
                  "homoglyphs"
                ]
              },
              "value": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/SocketIssueBasics"
                  },
                  {
                    "type": "object",
                    "additionalProperties": false,
                    "properties": {
                      "description": {
                        "type": "string",
                        "default": ""
                      },
                      "props": {
                        "type": "object",
                        "additionalProperties": false,
                        "properties": {}
                      },
                      "usage": {
                        "$ref": "#/components/schemas/SocketUsageRef"
                      }
                    },
                    "required": [
                      "description",
                      "props"
                    ]
                  }
                ]
              }
            }
          },
          {
            "type": "object",
            "additionalProperties": false,
            "properties": {
              "type": {
                "type": "string",
                "enum": [
                  "invisibleChars"
                ]
              },
              "value": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/SocketIssueBasics"
                  },
                  {
                    "type": "object",
                    "additionalProperties": false,
                    "properties": {
                      "description": {
                        "type": "string",
                        "default": ""
                      },
                      "props": {
                        "type": "object",
                        "additionalProperties": false,
                        "properties": {}
                      },
                      "usage": {
                        "$ref": "#/components/schemas/SocketUsageRef"
                      }
                    },
                    "required": [
                      "description",
                      "props"
                    ]
                  }
                ]
              }
            }
          },
          {
            "type": "object",
            "additionalProperties": false,
            "properties": {
              "type": {
                "type": "string",
                "enum": [
                  "suspiciousString"
                ]
              },
              "value": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/SocketIssueBasics"
                  },
                  {
                    "type": "object",
                    "additionalProperties": false,
                    "properties": {
                      "description": {
                        "type": "string",
                        "default": ""
                      },
                      "props": {
                        "type": "object",
                        "additionalProperties": false,
                        "properties": {
                          "pattern": {
                            "type": "string",
                            "default": ""
                          },
                          "explanation": {
                            "type": "string",
                            "default": ""
                          }
                        },
                        "required": [
                          "explanation",
                          "pattern"
                        ]
                      },
                      "usage": {
                        "$ref": "#/components/schemas/SocketUsageRef"
                      }
                    },
                    "required": [
                      "description",
                      "props"
                    ]
                  }
                ]
              }
            }
          },
          {
            "type": "object",
            "additionalProperties": false,
            "properties": {
              "type": {
                "type": "string",
                "enum": [
                  "invalidPackageJSON"
                ]
              },
              "value": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/SocketIssueBasics"
                  },
                  {
                    "type": "object",
                    "additionalProperties": false,
                    "properties": {
                      "description": {
                        "type": "string",
                        "default": ""
                      },
                      "props": {
                        "type": "object",
                        "additionalProperties": false,
                        "properties": {}
                      },
                      "usage": {
                        "$ref": "#/components/schemas/SocketUsageRef"
                      }
                    },
                    "required": [
                      "description",
                      "props"
                    ]
                  }
                ]
              }
            }
          },
          {
            "type": "object",
            "additionalProperties": false,
            "properties": {
              "type": {
                "type": "string",
                "enum": [
                  "httpDependency"
                ]
              },
              "value": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/SocketIssueBasics"
                  },
                  {
                    "type": "object",
                    "additionalProperties": false,
                    "properties": {
                      "description": {
                        "type": "string",
                        "default": ""
                      },
                      "props": {
                        "type": "object",
                        "additionalProperties": false,
                        "properties": {
                          "packageName": {
                            "type": "string",
                            "default": ""
                          },
                          "url": {
                            "type": "string",
                            "default": ""
                          }
                        },
                        "required": [
                          "packageName",
                          "url"
                        ]
                      },
                      "usage": {
                        "$ref": "#/components/schemas/SocketUsageRef"
                      }
                    },
                    "required": [
                      "description",
                      "props"
                    ]
                  }
                ]
              }
            }
          },
          {
            "type": "object",
            "additionalProperties": false,
            "properties": {
              "type": {
                "type": "string",
                "enum": [
                  "gitDependency"
                ]
              },
              "value": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/SocketIssueBasics"
                  },
                  {
                    "type": "object",
                    "additionalProperties": false,
                    "properties": {
                      "description": {
                        "type": "string",
                        "default": ""
                      },
                      "props": {
                        "type": "object",
                        "additionalProperties": false,
                        "properties": {
                          "packageName": {
                            "type": "string",
                            "default": ""
                          },
                          "url": {
                            "type": "string",
                            "default": ""
                          }
                        },
                        "required": [
                          "packageName",
                          "url"
                        ]
                      },
                      "usage": {
                        "$ref": "#/components/schemas/SocketUsageRef"
                      }
                    },
                    "required": [
                      "description",
                      "props"
                    ]
                  }
                ]
              }
            }
          },
          {
            "type": "object",
            "additionalProperties": false,
            "properties": {
              "type": {
                "type": "string",
                "enum": [
                  "gitHubDependency"
                ]
              },
              "value": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/SocketIssueBasics"
                  },
                  {
                    "type": "object",
                    "additionalProperties": false,
                    "properties": {
                      "description": {
                        "type": "string",
                        "default": ""
                      },
                      "props": {
                        "type": "object",
                        "additionalProperties": false,
                        "properties": {
                          "packageName": {
                            "type": "string",
                            "default": ""
                          },
                          "githubUser": {
                            "type": "string",
                            "default": ""
                          },
                          "githubRepo": {
                            "type": "string",
                            "default": ""
                          },
                          "commitsh": {
                            "type": "string",
                            "default": ""
                          }
                        },
                        "required": [
                          "commitsh",
                          "githubRepo",
                          "githubUser",
                          "packageName"
                        ]
                      },
                      "usage": {
                        "$ref": "#/components/schemas/SocketUsageRef"
                      }
                    },
                    "required": [
                      "description",
                      "props"
                    ]
                  }
                ]
              }
            }
          },
          {
            "type": "object",
            "additionalProperties": false,
            "properties": {
              "type": {
                "type": "string",
                "enum": [
                  "fileDependency"
                ]
              },
              "value": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/SocketIssueBasics"
                  },
                  {
                    "type": "object",
                    "additionalProperties": false,
                    "properties": {
                      "description": {
                        "type": "string",
                        "default": ""
                      },
                      "props": {
                        "type": "object",
                        "additionalProperties": false,
                        "properties": {
                          "packageName": {
                            "type": "string",
                            "default": ""
                          },
                          "filePath": {
                            "type": "string",
                            "default": ""
                          }
                        },
                        "required": [
                          "filePath",
                          "packageName"
                        ]
                      },
                      "usage": {
                        "$ref": "#/components/schemas/SocketUsageRef"
                      }
                    },
                    "required": [
                      "description",
                      "props"
                    ]
                  }
                ]
              }
            }
          },
          {
            "type": "object",
            "additionalProperties": false,
            "properties": {
              "type": {
                "type": "string",
                "enum": [
                  "noTests"
                ]
              },
              "value": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/SocketIssueBasics"
                  },
                  {
                    "type": "object",
                    "additionalProperties": false,
                    "properties": {
                      "description": {
                        "type": "string",
                        "default": ""
                      },
                      "props": {
                        "type": "object",
                        "additionalProperties": false,
                        "properties": {}
                      },
                      "usage": {
                        "$ref": "#/components/schemas/SocketUsageRef"
                      }
                    },
                    "required": [
                      "description",
                      "props"
                    ]
                  }
                ]
              }
            }
          },
          {
            "type": "object",
            "additionalProperties": false,
            "properties": {
              "type": {
                "type": "string",
                "enum": [
                  "noRepository"
                ]
              },
              "value": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/SocketIssueBasics"
                  },
                  {
                    "type": "object",
                    "additionalProperties": false,
                    "properties": {
                      "description": {
                        "type": "string",
                        "default": ""
                      },
                      "props": {
                        "type": "object",
                        "additionalProperties": false,
                        "properties": {}
                      },
                      "usage": {
                        "$ref": "#/components/schemas/SocketUsageRef"
                      }
                    },
                    "required": [
                      "description",
                      "props"
                    ]
                  }
                ]
              }
            }
          },
          {
            "type": "object",
            "additionalProperties": false,
            "properties": {
              "type": {
                "type": "string",
                "enum": [
                  "badSemver"
                ]
              },
              "value": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/SocketIssueBasics"
                  },
                  {
                    "type": "object",
                    "additionalProperties": false,
                    "properties": {
                      "description": {
                        "type": "string",
                        "default": ""
                      },
                      "props": {
                        "type": "object",
                        "additionalProperties": false,
                        "properties": {}
                      },
                      "usage": {
                        "$ref": "#/components/schemas/SocketUsageRef"
                      }
                    },
                    "required": [
                      "description",
                      "props"
                    ]
                  }
                ]
              }
            }
          },
          {
            "type": "object",
            "additionalProperties": false,
            "properties": {
              "type": {
                "type": "string",
                "enum": [
                  "badSemverDependency"
                ]
              },
              "value": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/SocketIssueBasics"
                  },
                  {
                    "type": "object",
                    "additionalProperties": false,
                    "properties": {
                      "description": {
                        "type": "string",
                        "default": ""
                      },
                      "props": {
                        "type": "object",
                        "additionalProperties": false,
                        "properties": {
                          "packageName": {
                            "type": "string",
                            "default": ""
                          },
                          "packageVersion": {
                            "type": "string",
                            "default": ""
                          }
                        },
                        "required": [
                          "packageName",
                          "packageVersion"
                        ]
                      },
                      "usage": {
                        "$ref": "#/components/schemas/SocketUsageRef"
                      }
                    },
                    "required": [
                      "description",
                      "props"
                    ]
                  }
                ]
              }
            }
          },
          {
            "type": "object",
            "additionalProperties": false,
            "properties": {
              "type": {
                "type": "string",
                "enum": [
                  "noV1"
                ]
              },
              "value": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/SocketIssueBasics"
                  },
                  {
                    "type": "object",
                    "additionalProperties": false,
                    "properties": {
                      "description": {
                        "type": "string",
                        "default": ""
                      },
                      "props": {
                        "type": "object",
                        "additionalProperties": false,
                        "properties": {}
                      },
                      "usage": {
                        "$ref": "#/components/schemas/SocketUsageRef"
                      }
                    },
                    "required": [
                      "description",
                      "props"
                    ]
                  }
                ]
              }
            }
          },
          {
            "type": "object",
            "additionalProperties": false,
            "properties": {
              "type": {
                "type": "string",
                "enum": [
                  "noWebsite"
                ]
              },
              "value": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/SocketIssueBasics"
                  },
                  {
                    "type": "object",
                    "additionalProperties": false,
                    "properties": {
                      "description": {
                        "type": "string",
                        "default": ""
                      },
                      "props": {
                        "type": "object",
                        "additionalProperties": false,
                        "properties": {}
                      },
                      "usage": {
                        "$ref": "#/components/schemas/SocketUsageRef"
                      }
                    },
                    "required": [
                      "description",
                      "props"
                    ]
                  }
                ]
              }
            }
          },
          {
            "type": "object",
            "additionalProperties": false,
            "properties": {
              "type": {
                "type": "string",
                "enum": [
                  "noBugTracker"
                ]
              },
              "value": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/SocketIssueBasics"
                  },
                  {
                    "type": "object",
                    "additionalProperties": false,
                    "properties": {
                      "description": {
                        "type": "string",
                        "default": ""
                      },
                      "props": {
                        "type": "object",
                        "additionalProperties": false,
                        "properties": {}
                      },
                      "usage": {
                        "$ref": "#/components/schemas/SocketUsageRef"
                      }
                    },
                    "required": [
                      "description",
                      "props"
                    ]
                  }
                ]
              }
            }
          },
          {
            "type": "object",
            "additionalProperties": false,
            "properties": {
              "type": {
                "type": "string",
                "enum": [
                  "noAuthorData"
                ]
              },
              "value": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/SocketIssueBasics"
                  },
                  {
                    "type": "object",
                    "additionalProperties": false,
                    "properties": {
                      "description": {
                        "type": "string",
                        "default": ""
                      },
                      "props": {
                        "type": "object",
                        "additionalProperties": false,
                        "properties": {}
                      },
                      "usage": {
                        "$ref": "#/components/schemas/SocketUsageRef"
                      }
                    },
                    "required": [
                      "description",
                      "props"
                    ]
                  }
                ]
              }
            }
          },
          {
            "type": "object",
            "additionalProperties": false,
            "properties": {
              "type": {
                "type": "string",
                "enum": [
                  "typeModuleCompatibility"
                ]
              },
              "value": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/SocketIssueBasics"
                  },
                  {
                    "type": "object",
                    "additionalProperties": false,
                    "properties": {
                      "description": {
                        "type": "string",
                        "default": ""
                      },
                      "props": {
                        "type": "object",
                        "additionalProperties": false,
                        "properties": {}
                      },
                      "usage": {
                        "$ref": "#/components/schemas/SocketUsageRef"
                      }
                    },
                    "required": [
                      "description",
                      "props"
                    ]
                  }
                ]
              }
            }
          },
          {
            "type": "object",
            "additionalProperties": false,
            "properties": {
              "type": {
                "type": "string",
                "enum": [
                  "emptyPackage"
                ]
              },
              "value": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/SocketIssueBasics"
                  },
                  {
                    "type": "object",
                    "additionalProperties": false,
                    "properties": {
                      "description": {
                        "type": "string",
                        "default": ""
                      },
                      "props": {
                        "type": "object",
                        "additionalProperties": false,
                        "properties": {}
                      },
                      "usage": {
                        "$ref": "#/components/schemas/SocketUsageRef"
                      }
                    },
                    "required": [
                      "description",
                      "props"
                    ]
                  }
                ]
              }
            }
          },
          {
            "type": "object",
            "additionalProperties": false,
            "properties": {
              "type": {
                "type": "string",
                "enum": [
                  "trivialPackage"
                ]
              },
              "value": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/SocketIssueBasics"
                  },
                  {
                    "type": "object",
                    "additionalProperties": false,
                    "properties": {
                      "description": {
                        "type": "string",
                        "default": ""
                      },
                      "props": {
                        "type": "object",
                        "additionalProperties": false,
                        "properties": {
                          "linesOfCode": {
                            "type": "integer",
                            "default": 0
                          }
                        },
                        "required": [
                          "linesOfCode"
                        ]
                      },
                      "usage": {
                        "$ref": "#/components/schemas/SocketUsageRef"
                      }
                    },
                    "required": [
                      "description",
                      "props"
                    ]
                  }
                ]
              }
            }
          },
          {
            "type": "object",
            "additionalProperties": false,
            "properties": {
              "type": {
                "type": "string",
                "enum": [
                  "noREADME"
                ]
              },
              "value": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/SocketIssueBasics"
                  },
                  {
                    "type": "object",
                    "additionalProperties": false,
                    "properties": {
                      "description": {
                        "type": "string",
                        "default": ""
                      },
                      "props": {
                        "type": "object",
                        "additionalProperties": false,
                        "properties": {}
                      },
                      "usage": {
                        "$ref": "#/components/schemas/SocketUsageRef"
                      }
                    },
                    "required": [
                      "description",
                      "props"
                    ]
                  }
                ]
              }
            }
          },
          {
            "type": "object",
            "additionalProperties": false,
            "properties": {
              "type": {
                "type": "string",
                "enum": [
                  "deprecated"
                ]
              },
              "value": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/SocketIssueBasics"
                  },
                  {
                    "type": "object",
                    "additionalProperties": false,
                    "properties": {
                      "description": {
                        "type": "string",
                        "default": ""
                      },
                      "props": {
                        "type": "object",
                        "additionalProperties": false,
                        "properties": {
                          "reason": {
                            "type": "string",
                            "default": "This package is deprecated"
                          }
                        },
                        "required": [
                          "reason"
                        ]
                      },
                      "usage": {
                        "$ref": "#/components/schemas/SocketUsageRef"
                      }
                    },
                    "required": [
                      "description",
                      "props"
                    ]
                  }
                ]
              }
            }
          },
          {
            "type": "object",
            "additionalProperties": false,
            "properties": {
              "type": {
                "type": "string",
                "enum": [
                  "chronoAnomaly"
                ]
              },
              "value": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/SocketIssueBasics"
                  },
                  {
                    "type": "object",
                    "additionalProperties": false,
                    "properties": {
                      "description": {
                        "type": "string",
                        "default": ""
                      },
                      "props": {
                        "type": "object",
                        "additionalProperties": false,
                        "properties": {
                          "prevChronoDate": {
                            "type": "string",
                            "default": ""
                          },
                          "prevChronoVersion": {
                            "type": "string",
                            "default": ""
                          },
                          "prevSemverDate": {
                            "type": "string",
                            "default": ""
                          },
                          "prevSemverVersion": {
                            "type": "string",
                            "default": ""
                          }
                        },
                        "required": [
                          "prevChronoDate",
                          "prevChronoVersion",
                          "prevSemverDate",
                          "prevSemverVersion"
                        ]
                      },
                      "usage": {
                        "$ref": "#/components/schemas/SocketUsageRef"
                      }
                    },
                    "required": [
                      "description",
                      "props"
                    ]
                  }
                ]
              }
            }
          },
          {
            "type": "object",
            "additionalProperties": false,
            "properties": {
              "type": {
                "type": "string",
                "enum": [
                  "semverAnomaly"
                ]
              },
              "value": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/SocketIssueBasics"
                  },
                  {
                    "type": "object",
                    "additionalProperties": false,
                    "properties": {
                      "description": {
                        "type": "string",
                        "default": ""
                      },
                      "props": {
                        "type": "object",
                        "additionalProperties": false,
                        "properties": {
                          "prevVersion": {
                            "type": "string",
                            "default": ""
                          },
                          "newVersion": {
                            "type": "string",
                            "default": ""
                          }
                        },
                        "required": [
                          "newVersion",
                          "prevVersion"
                        ]
                      },
                      "usage": {
                        "$ref": "#/components/schemas/SocketUsageRef"
                      }
                    },
                    "required": [
                      "description",
                      "props"
                    ]
                  }
                ]
              }
            }
          },
          {
            "type": "object",
            "additionalProperties": false,
            "properties": {
              "type": {
                "type": "string",
                "enum": [
                  "newAuthor"
                ]
              },
              "value": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/SocketIssueBasics"
                  },
                  {
                    "type": "object",
                    "additionalProperties": false,
                    "properties": {
                      "description": {
                        "type": "string",
                        "default": ""
                      },
                      "props": {
                        "type": "object",
                        "additionalProperties": false,
                        "properties": {
                          "prevAuthor": {
                            "type": "string",
                            "default": ""
                          },
                          "newAuthor": {
                            "type": "string",
                            "default": ""
                          }
                        },
                        "required": [
                          "newAuthor",
                          "prevAuthor"
                        ]
                      },
                      "usage": {
                        "$ref": "#/components/schemas/SocketUsageRef"
                      }
                    },
                    "required": [
                      "description",
                      "props"
                    ]
                  }
                ]
              }
            }
          },
          {
            "type": "object",
            "additionalProperties": false,
            "properties": {
              "type": {
                "type": "string",
                "enum": [
                  "unstableOwnership"
                ]
              },
              "value": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/SocketIssueBasics"
                  },
                  {
                    "type": "object",
                    "additionalProperties": false,
                    "properties": {
                      "description": {
                        "type": "string",
                        "default": ""
                      },
                      "props": {
                        "type": "object",
                        "additionalProperties": false,
                        "properties": {
                          "author": {
                            "type": "string",
                            "default": ""
                          }
                        },
                        "required": [
                          "author"
                        ]
                      },
                      "usage": {
                        "$ref": "#/components/schemas/SocketUsageRef"
                      }
                    },
                    "required": [
                      "description",
                      "props"
                    ]
                  }
                ]
              }
            }
          },
          {
            "type": "object",
            "additionalProperties": false,
            "properties": {
              "type": {
                "type": "string",
                "enum": [
                  "missingAuthor"
                ]
              },
              "value": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/SocketIssueBasics"
                  },
                  {
                    "type": "object",
                    "additionalProperties": false,
                    "properties": {
                      "description": {
                        "type": "string",
                        "default": ""
                      },
                      "props": {
                        "type": "object",
                        "additionalProperties": false,
                        "properties": {}
                      },
                      "usage": {
                        "$ref": "#/components/schemas/SocketUsageRef"
                      }
                    },
                    "required": [
                      "description",
                      "props"
                    ]
                  }
                ]
              }
            }
          },
          {
            "type": "object",
            "additionalProperties": false,
            "properties": {
              "type": {
                "type": "string",
                "enum": [
                  "unmaintained"
                ]
              },
              "value": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/SocketIssueBasics"
                  },
                  {
                    "type": "object",
                    "additionalProperties": false,
                    "properties": {
                      "description": {
                        "type": "string",
                        "default": ""
                      },
                      "props": {
                        "type": "object",
                        "additionalProperties": false,
                        "properties": {
                          "lastPublish": {
                            "type": "string",
                            "default": ""
                          }
                        },
                        "required": [
                          "lastPublish"
                        ]
                      },
                      "usage": {
                        "$ref": "#/components/schemas/SocketUsageRef"
                      }
                    },
                    "required": [
                      "description",
                      "props"
                    ]
                  }
                ]
              }
            }
          },
          {
            "type": "object",
            "additionalProperties": false,
            "properties": {
              "type": {
                "type": "string",
                "enum": [
                  "unpublished"
                ]
              },
              "value": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/SocketIssueBasics"
                  },
                  {
                    "type": "object",
                    "additionalProperties": false,
                    "properties": {
                      "description": {
                        "type": "string",
                        "default": ""
                      },
                      "props": {
                        "type": "object",
                        "additionalProperties": false,
                        "properties": {
                          "version": {
                            "type": "string",
                            "default": ""
                          }
                        },
                        "required": [
                          "version"
                        ]
                      },
                      "usage": {
                        "$ref": "#/components/schemas/SocketUsageRef"
                      }
                    },
                    "required": [
                      "description",
                      "props"
                    ]
                  }
                ]
              }
            }
          },
          {
            "type": "object",
            "additionalProperties": false,
            "properties": {
              "type": {
                "type": "string",
                "enum": [
                  "majorRefactor"
                ]
              },
              "value": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/SocketIssueBasics"
                  },
                  {
                    "type": "object",
                    "additionalProperties": false,
                    "properties": {
                      "description": {
                        "type": "string",
                        "default": ""
                      },
                      "props": {
                        "type": "object",
                        "additionalProperties": false,
                        "properties": {
                          "linesChanged": {
                            "type": "integer",
                            "default": 0
                          },
                          "prevSize": {
                            "type": "integer",
                            "default": 0
                          },
                          "curSize": {
                            "type": "integer",
                            "default": 0
                          },
                          "changedPercent": {
                            "type": "integer",
                            "default": 0
                          }
                        },
                        "required": [
                          "changedPercent",
                          "curSize",
                          "linesChanged",
                          "prevSize"
                        ]
                      },
                      "usage": {
                        "$ref": "#/components/schemas/SocketUsageRef"
                      }
                    },
                    "required": [
                      "description",
                      "props"
                    ]
                  }
                ]
              }
            }
          },
          {
            "type": "object",
            "additionalProperties": false,
            "properties": {
              "type": {
                "type": "string",
                "enum": [
                  "missingTarball"
                ]
              },
              "value": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/SocketIssueBasics"
                  },
                  {
                    "type": "object",
                    "additionalProperties": false,
                    "properties": {
                      "description": {
                        "type": "string",
                        "default": ""
                      },
                      "props": {
                        "type": "object",
                        "additionalProperties": false,
                        "properties": {}
                      },
                      "usage": {
                        "$ref": "#/components/schemas/SocketUsageRef"
                      }
                    },
                    "required": [
                      "description",
                      "props"
                    ]
                  }
                ]
              }
            }
          },
          {
            "type": "object",
            "additionalProperties": false,
            "properties": {
              "type": {
                "type": "string",
                "enum": [
                  "unsafeCopyright"
                ]
              },
              "value": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/SocketIssueBasics"
                  },
                  {
                    "type": "object",
                    "additionalProperties": false,
                    "properties": {
                      "description": {
                        "type": "string",
                        "default": ""
                      },
                      "props": {
                        "type": "object",
                        "additionalProperties": false,
                        "properties": {}
                      },
                      "usage": {
                        "$ref": "#/components/schemas/SocketUsageRef"
                      }
                    },
                    "required": [
                      "description",
                      "props"
                    ]
                  }
                ]
              }
            }
          },
          {
            "type": "object",
            "additionalProperties": false,
            "properties": {
              "type": {
                "type": "string",
                "enum": [
                  "licenseChange"
                ]
              },
              "value": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/SocketIssueBasics"
                  },
                  {
                    "type": "object",
                    "additionalProperties": false,
                    "properties": {
                      "description": {
                        "type": "string",
                        "default": ""
                      },
                      "props": {
                        "type": "object",
                        "additionalProperties": false,
                        "properties": {
                          "prevLicenseId": {
                            "type": "string",
                            "default": ""
                          },
                          "newLicenseId": {
                            "type": "string",
                            "default": ""
                          }
                        },
                        "required": [
                          "newLicenseId",
                          "prevLicenseId"
                        ]
                      },
                      "usage": {
[...]
