{
  "openapi": "3.0.0",
  "info": {
    "description": "Specification of the Socket API endpoints",
    "title": "API Endpoints",
    "version": "0.1.0"
  },
  "servers": [
    {
      "url": "https://api.socket.dev/v0"
    }
  ],
  "components": {
    "requestBodies": {},
    "responses": {
      "SocketBadRequest": {
        "content": {
          "application/json": {
            "schema": {
              "type": "object",
              "additionalProperties": false,
              "description": "",
              "properties": {
                "error": {
                  "type": "object",
                  "additionalProperties": false,
                  "description": "",
                  "properties": {
                    "message": {
                      "type": "string",
                      "description": "",
                      "default": ""
                    }
                  },
                  "required": [
                    "message"
                  ]
                }
              },
              "required": [
                "error"
              ]
            }
          }
        },
        "description": "Bad request"
      },
      "SocketUnauthorized": {
        "content": {
          "application/json": {
            "schema": {
              "type": "object",
              "additionalProperties": false,
              "description": "",
              "properties": {
                "error": {
                  "type": "object",
                  "additionalProperties": false,
                  "description": "",
                  "properties": {
                    "message": {
                      "type": "string",
                      "description": "",
                      "default": ""
                    }
                  },
                  "required": [
                    "message"
                  ]
                }
              },
              "required": [
                "error"
              ]
            }
          }
        },
        "description": "Unauthorized"
      },
      "SocketForbidden": {
        "content": {
          "application/json": {
            "schema": {
              "type": "object",
              "additionalProperties": false,
              "description": "",
              "properties": {
                "error": {
                  "type": "object",
                  "additionalProperties": false,
                  "description": "",
                  "properties": {
                    "message": {
                      "type": "string",
                      "description": "",
                      "default": ""
                    }
                  },
                  "required": [
                    "message"
                  ]
                }
              },
              "required": [
                "error"
              ]
            }
          }
        },
        "description": "Insufficient max_quota for API method"
      },
      "SocketNotFoundResponse": {
        "content": {
          "application/json": {
            "schema": {
              "type": "object",
              "additionalProperties": false,
              "description": "",
              "properties": {
                "error": {
                  "type": "object",
                  "additionalProperties": false,
                  "description": "",
                  "properties": {
                    "message": {
                      "type": "string",
                      "description": "",
                      "default": ""
                    }
                  },
                  "required": [
                    "message"
                  ]
                }
              },
              "required": [
                "error"
              ]
            }
          }
        },
        "description": "Resource not found"
      },
      "SocketTooManyRequestsResponse": {
        "description": "Insufficient quota for API route",
        "headers": {
          "Retry-After": {
            "description": "Retry contacting the endpoint *at least* after seconds.\nSee https://tools.ietf.org/html/rfc7231#section-7.1.3",
            "schema": {
              "format": "int32",
              "type": "integer"
            }
          }
        },
        "content": {
          "application/json": {
            "schema": {
              "type": "object",
              "additionalProperties": false,
              "description": "",
              "properties": {
                "error": {
                  "type": "object",
                  "additionalProperties": false,
                  "description": "",
                  "properties": {
                    "message": {
                      "type": "string",
                      "description": "",
                      "default": ""
                    }
                  },
                  "required": [
                    "message"
                  ]
                }
              },
              "required": [
                "error"
              ]
            }
          }
        }
      },
      "SocketInternalServerError": {
        "content": {
          "application/json": {
            "schema": {
              "type": "object",
              "additionalProperties": false,
              "description": "",
              "properties": {
                "error": {
                  "type": "object",
                  "additionalProperties": false,
                  "description": "",
                  "properties": {
                    "message": {
                      "type": "string",
                      "description": "",
                      "default": ""
                    }
                  },
                  "required": [
                    "message"
                  ]
                }
              },
              "required": [
                "error"
              ]
            }
          }
        },
        "description": "Internal server error"
      },
      "SocketGone": {
        "content": {
          "application/json": {
            "schema": {
              "type": "object",
              "additionalProperties": false,
              "description": "",
              "properties": {
                "error": {
                  "type": "object",
                  "additionalProperties": false,
                  "description": "",
                  "properties": {
                    "message": {
                      "type": "string",
                      "description": "",
                      "default": ""
                    }
                  },
                  "required": [
                    "message"
                  ]
                }
              },
              "required": [
                "error"
              ]
            }
          }
        },
        "description": "Gone"
      }
    },
    "schemas": {
      "SocketArtifact": {
        "allOf": [
          {
            "$ref": "#/components/schemas/SocketPURL"
          },
          {
            "$ref": "#/components/schemas/SocketArtifactLink"
          },
          {
            "type": "object",
            "additionalProperties": false,
            "properties": {
              "id": {
                "$ref": "#/components/schemas/SocketId"
              },
              "license": {
                "type": "string",
                "description": "",
                "default": ""
              },
              "licenseDetails": {
                "$ref": "#/components/schemas/LicenseDetails"
              },
              "licenseAttrib": {
                "$ref": "#/components/schemas/SAttrib1_N"
              },
              "author": {
                "type": "array",
                "items": {
                  "type": "string",
                  "description": "",
                  "default": ""
                }
              },
              "size": {
                "type": "number",
                "description": "",
                "default": 0
              },
              "score": {
                "$ref": "#/components/schemas/SocketScore"
              },
              "alerts": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/SocketAlert"
                }
              },
              "batchIndex": {
                "type": "integer",
                "description": "",
                "default": 0
              }
            },
            "required": [
              "id"
            ]
          }
        ]
      },
      "SocketBatchPURLFetch": {
        "type": "object",
        "additionalProperties": false,
        "properties": {
          "components": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/SocketBatchPURLRequest"
            }
          }
        },
        "required": [
          "components"
        ]
      },
      "CDXManifestSchema": {
        "type": "object",
        "additionalProperties": false,
        "description": "",
        "properties": {
          "bomFormat": {
            "type": "string",
            "description": "",
            "default": "CycloneDX"
          },
          "specVersion": {
            "type": "string",
            "description": "",
            "default": "1.5"
          },
          "serialNumber": {
            "type": "string",
            "description": "",
            "default": ""
          },
          "version": {
            "type": "number",
            "description": "",
            "default": 0
          },
          "metadata": {
            "type": "object",
            "additionalProperties": false,
            "properties": {
              "timestamp": {
                "type": "string",
                "description": "",
                "default": ""
              },
              "tools": {
                "type": "object",
                "additionalProperties": false,
                "description": "",
                "properties": {
                  "components": {
                    "type": "array",
                    "items": {
                      "allOf": [
                        {
                          "$ref": "#/components/schemas/CDXComponentSchema"
                        },
                        {
                          "type": "object",
                          "additionalProperties": false,
                          "properties": {
                            "author": {
                              "type": "string",
                              "description": "",
                              "default": "Socket"
                            },
                            "authors": {
                              "type": "array",
                              "items": {
                                "type": "string",
                                "description": "",
                                "default": "Socket"
                              }
                            },
                            "publisher": {
                              "type": "string",
                              "description": "",
                              "default": "Socket"
                            }
                          }
                        }
                      ]
                    }
                  }
                },
                "required": [
                  "components"
                ]
              },
              "authors": {
                "type": "array",
                "items": {
                  "type": "object",
                  "additionalProperties": false,
                  "description": "",
                  "properties": {
                    "name": {
                      "type": "string",
                      "description": "",
                      "default": "Socket"
                    }
                  },
                  "required": [
                    "name"
                  ]
                }
              },
              "supplier": {
                "type": "string",
                "description": "",
                "default": ""
              },
              "lifecycles": {
                "type": "array",
                "items": {
                  "type": "object",
                  "additionalProperties": false,
                  "description": "",
                  "properties": {
                    "phase": {
                      "type": "string",
                      "description": "",
                      "default": "build"
                    }
                  },
                  "required": [
                    "phase"
                  ]
                }
              },
              "component": {
                "$ref": "#/components/schemas/CDXComponentSchema"
              },
              "properties": {
                "type": "array",
                "items": {
                  "type": "object",
                  "additionalProperties": false,
                  "description": "",
                  "properties": {
                    "name": {
                      "type": "string",
                      "description": "",
                      "default": ""
                    },
                    "value": {
                      "type": "string",
                      "description": "",
                      "default": ""
                    }
                  },
                  "required": [
                    "name",
                    "value"
                  ]
                }
              }
            },
            "required": [
              "authors",
              "component",
              "lifecycles",
              "timestamp",
              "tools"
            ]
          },
          "components": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/CDXComponentSchema"
            }
          },
          "dependencies": {
            "type": "array",
            "items": {
              "type": "object",
              "additionalProperties": false,
              "properties": {
                "ref": {
                  "type": "string",
                  "description": "",
                  "default": ""
                },
                "dependsOn": {
                  "type": "array",
                  "items": {
                    "type": "string",
                    "description": "",
                    "default": ""
                  }
                }
              },
              "required": [
                "ref"
              ]
            }
          }
        },
        "required": [
          "bomFormat",
          "components",
          "dependencies",
          "metadata",
          "serialNumber",
          "specVersion",
          "version"
        ]
      },
      "SPDXManifestSchema": {
        "type": "object",
        "additionalProperties": false,
        "description": "",
        "properties": {
          "spdxVersion": {
            "type": "string",
            "description": "",
            "default": "SPDX-2.3"
          },
          "dataLicense": {
            "type": "string",
            "description": "",
            "default": "CC0-1.0"
          },
          "SPDXID": {
            "type": "string",
            "description": "",
            "default": "SPDXRef-DOCUMENT"
          },
          "name": {
            "type": "string",
            "description": "",
            "default": ""
          },
          "documentNamespace": {
            "type": "string",
            "description": "",
            "default": ""
          },
          "creationInfo": {
            "type": "object",
            "additionalProperties": false,
            "description": "",
            "properties": {
              "created": {
                "type": "string",
                "description": "",
                "default": ""
              },
              "creators": {
                "type": "array",
                "items": {
                  "type": "string",
                  "description": "",
                  "default": ""
                }
              }
            },
            "required": [
              "created",
              "creators"
            ]
          },
          "documentDescribes": {
            "type": "array",
            "items": {
              "type": "string",
              "description": "",
              "default": ""
            }
          },
          "packages": {
            "type": "array",
            "items": {
              "type": "object",
              "additionalProperties": false,
              "properties": {
                "name": {
                  "type": "string",
                  "description": "",
                  "default": ""
                },
                "SPDXID": {
                  "type": "string",
                  "description": "",
                  "default": ""
                },
                "versionInfo": {
                  "type": "string",
                  "description": "",
                  "default": ""
                },
                "packageFileName": {
                  "type": "string",
                  "description": "",
                  "default": ""
                },
                "description": {
                  "type": "string",
                  "description": "",
                  "default": ""
                },
                "primaryPackagePurpose": {
                  "type": "string",
                  "description": "",
                  "default": ""
                },
                "downloadLocation": {
                  "type": "string",
                  "description": "",
                  "default": ""
                },
                "filesAnalyzed": {
                  "type": "boolean",
                  "default": false,
                  "description": ""
                },
                "homepage": {
                  "type": "string",
                  "description": "",
                  "default": "NOASSERTION"
                },
                "licenseDeclared": {
                  "type": "string",
                  "description": "",
                  "default": "NOASSERTION"
                },
                "externalRefs": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "additionalProperties": false,
                    "description": "",
                    "properties": {
                      "referenceCategory": {
                        "type": "string",
                        "description": "",
                        "default": "PACKAGE-MANAGER"
                      },
                      "referenceType": {
                        "type": "string",
                        "description": "",
                        "default": "purl"
                      },
                      "referenceLocator": {
                        "type": "string",
                        "description": "",
                        "default": ""
                      }
                    },
                    "required": [
                      "referenceCategory",
                      "referenceLocator",
                      "referenceType"
                    ]
                  }
                },
                "checksums": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "additionalProperties": false,
                    "description": "",
                    "properties": {
                      "algorithm": {
                        "type": "string",
                        "description": "",
                        "default": ""
                      },
                      "checksumValue": {
                        "type": "string",
                        "description": "",
                        "default": ""
                      }
                    },
                    "required": [
                      "algorithm",
                      "checksumValue"
                    ]
                  }
                }
              },
              "required": [
                "SPDXID",
                "externalRefs",
                "filesAnalyzed",
                "homepage",
                "licenseDeclared",
                "name",
                "packageFileName",
                "versionInfo"
              ]
            }
          },
          "relationships": {
            "type": "array",
            "items": {
              "type": "object",
              "additionalProperties": false,
              "description": "",
              "properties": {
                "spdxElementId": {
                  "type": "string",
                  "description": "",
                  "default": "SPDXRef-DOCUMENT"
                },
                "relatedSpdxElement": {
                  "type": "string",
                  "description": "",
                  "default": ""
                },
                "relationshipType": {
                  "type": "string",
                  "description": "",
                  "default": "DESCRIBES"
                }
              },
              "required": [
                "relatedSpdxElement",
                "relationshipType",
                "spdxElementId"
              ]
            }
          }
        },
        "required": [
          "SPDXID",
          "creationInfo",
          "dataLicense",
          "documentDescribes",
          "documentNamespace",
          "name",
          "packages",
          "relationships",
          "spdxVersion"
        ]
      },
      "SocketReport": {
        "type": "object",
        "additionalProperties": false,
        "description": "",
        "properties": {
          "id": {
            "type": "string",
            "description": "",
            "default": ""
          },
          "healthy": {
            "type": "boolean",
            "default": false,
            "description": ""
          },
          "issues": {
            "$ref": "#/components/schemas/SocketIssueList"
          },
          "score": {
            "type": "object",
            "additionalProperties": false,
            "description": "",
            "properties": {
              "avgSupplyChainRisk": {
                "type": "number",
                "description": "",
                "default": 0
              },
              "avgQuality": {
                "type": "number",
                "description": "",
                "default": 0
              },
              "avgMaintenance": {
                "type": "number",
                "description": "",
                "default": 0
              },
              "avgVulnerability": {
                "type": "number",
                "description": "",
                "default": 0
              },
              "avgLicense": {
                "type": "number",
                "description": "",
                "default": 0
              }
            },
            "required": [
              "avgLicense",
              "avgMaintenance",
              "avgQuality",
              "avgSupplyChainRisk",
              "avgVulnerability"
            ]
          },
          "url": {
            "type": "string",
            "description": "",
            "default": ""
          }
        },
        "required": [
          "healthy",
          "id",
          "issues",
          "score",
          "url"
        ]
      },
      "SocketIssueList": {
        "type": "array",
        "items": {
          "$ref": "#/components/schemas/SocketIssue"
        }
      },
      "SocketPackageScore": {
        "type": "object",
        "additionalProperties": false,
        "description": "",
        "properties": {
          "supplyChainRisk": {
            "$ref": "#/components/schemas/SocketMetricSchema"
          },
          "quality": {
            "$ref": "#/components/schemas/SocketMetricSchema"
          },
          "maintenance": {
            "$ref": "#/components/schemas/SocketMetricSchema"
          },
          "vulnerability": {
            "$ref": "#/components/schemas/SocketMetricSchema"
          },
          "license": {
            "$ref": "#/components/schemas/SocketMetricSchema"
          },
          "miscellaneous": {
            "$ref": "#/components/schemas/SocketMetricSchema"
          },
          "depscore": {
            "type": "number",
            "description": "",
            "default": 0
          }
        },
        "required": [
          "depscore",
          "license",
          "maintenance",
          "miscellaneous",
          "quality",
          "supplyChainRisk",
          "vulnerability"
        ]
      },
      "SocketPURL": {
        "type": "object",
        "additionalProperties": false,
        "properties": {
          "type": {
            "$ref": "#/components/schemas/SocketPURL_Type"
          },
          "namespace": {
            "type": "string",
            "description": "",
            "default": ""
          },
          "name": {
            "type": "string",
            "description": "",
            "default": ""
          },
          "version": {
            "type": "string",
            "description": "",
            "default": ""
          },
          "subpath": {
            "type": "string",
            "description": "",
            "default": ""
          },
          "release": {
            "type": "string",
            "description": "",
            "default": ""
          }
        },
        "required": [
          "type"
        ]
      },
      "SocketId": {
        "type": "string",
        "description": "",
        "default": ""
      },
      "SocketArtifactLink": {
        "type": "object",
        "additionalProperties": false,
        "properties": {
          "direct": {
            "type": "boolean",
            "default": false,
            "description": ""
          },
          "manifestFiles": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/SocketManifestReference"
            }
          },
          "topLevelAncestors": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/SocketId"
            }
          },
          "dependencies": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/SocketId"
            }
          },
          "artifact": {
            "allOf": [
              {
                "$ref": "#/components/schemas/SocketPURL"
              },
              {
                "type": "object",
                "additionalProperties": false,
                "properties": {
                  "id": {
                    "$ref": "#/components/schemas/SocketId"
                  }
                },
                "required": [
                  "id"
                ]
              }
            ]
          }
        }
      },
      "LicenseDetails": {
        "type": "array",
        "items": {
          "type": "object",
          "additionalProperties": false,
          "description": "",
          "properties": {
            "spdxDisj": {
              "type": "string",
              "description": "",
              "default": ""
            },
            "provenance": {
              "type": "string",
              "description": "",
              "default": ""
            },
            "filepath": {
              "type": "string",
              "description": "",
              "default": ""
            },
            "match_strength": {
              "type": "number",
              "description": "",
              "default": 0
            }
          },
          "required": [
            "filepath",
            "match_strength",
            "provenance",
            "spdxDisj"
          ]
        }
      },
      "SAttrib1_N": {
        "type": "array",
        "items": {
          "type": "object",
          "additionalProperties": false,
          "description": "",
          "properties": {
            "attribText": {
              "type": "string",
              "description": "",
              "default": ""
            },
            "attribData": {
              "type": "array",
              "items": {
                "type": "object",
                "additionalProperties": false,
                "description": "",
                "properties": {
                  "purl": {
                    "type": "string",
                    "description": "",
                    "default": ""
                  },
                  "foundInFilepath": {
                    "type": "string",
                    "description": "",
                    "default": ""
                  },
                  "spdxExpr": {
                    "type": "string",
                    "description": "",
                    "default": ""
                  },
                  "foundAuthors": {
                    "type": "array",
                    "items": {
                      "type": "string",
                      "description": "",
                      "default": ""
                    }
                  }
                },
                "required": [
                  "foundAuthors",
                  "foundInFilepath",
                  "purl",
                  "spdxExpr"
                ]
              }
            }
          },
          "required": [
            "attribData",
            "attribText"
          ]
        }
      },
      "SocketScore": {
        "type": "object",
        "additionalProperties": false,
        "description": "",
        "properties": {
          "supplyChain": {
            "type": "number",
            "description": "",
            "default": 0
          },
          "quality": {
            "type": "number",
            "description": "",
            "default": 0
          },
          "maintenance": {
            "type": "number",
            "description": "",
            "default": 0
          },
          "vulnerability": {
            "type": "number",
            "description": "",
            "default": 0
          },
          "license": {
            "type": "number",
            "description": "",
            "default": 0
          },
          "overall": {
            "type": "number",
            "description": "",
            "default": 0
          }
        },
        "required": [
          "license",
          "maintenance",
          "overall",
          "quality",
          "supplyChain",
          "vulnerability"
        ]
      },
      "SocketAlert": {
        "type": "object",
        "additionalProperties": false,
        "properties": {
          "key": {
            "type": "string",
            "description": "",
            "default": ""
          },
          "type": {
            "type": "string",
            "description": "",
            "default": ""
          },
          "severity": {
            "$ref": "#/components/schemas/SocketIssueSeverity"
          },
          "category": {
            "$ref": "#/components/schemas/SocketCategory"
          },
          "file": {
            "type": "string",
            "description": "",
            "default": ""
          },
          "start": {
            "type": "integer",
            "description": "",
            "default": 0
          },
          "end": {
            "type": "integer",
            "description": "",
            "default": 0
          },
          "props": {
            "type": "object",
            "description": "",
            "default": null
          }
        },
        "required": [
          "category",
          "key",
          "severity",
          "type"
        ]
      },
      "SocketBatchPURLRequest": {
        "type": "object",
        "additionalProperties": false,
        "description": "",
        "properties": {
          "purl": {
            "type": "string",
            "description": "",
            "default": ""
          }
        },
        "required": [
          "purl"
        ]
      },
      "CDXComponentSchema": {
        "type": "object",
        "additionalProperties": false,
        "properties": {
          "author": {
            "type": "string",
            "description": "",
            "default": ""
          },
          "publisher": {
            "type": "string",
            "description": "",
            "default": ""
          },
          "group": {
            "type": "string",
            "description": "",
            "default": ""
          },
          "name": {
            "type": "string",
            "description": "",
            "default": ""
          },
          "version": {
            "type": "string",
            "description": "",
            "default": ""
          },
          "description": {
            "type": "string",
            "description": "",
            "default": ""
          },
          "scope": {
            "type": "string",
            "description": "",
            "default": ""
          },
          "hashes": {
            "type": "array",
            "items": {
              "type": "object",
              "additionalProperties": false,
              "description": "",
              "properties": {
                "alg": {
                  "type": "string",
                  "description": "",
                  "default": ""
                },
                "content": {
                  "type": "string",
                  "description": "",
                  "default": ""
                }
              },
              "required": [
                "alg",
                "content"
              ]
            }
          },
          "licenses": {
            "type": "array",
            "items": {
              "type": "object",
              "additionalProperties": false,
              "properties": {
                "expression": {
                  "type": "string",
                  "description": "",
                  "default": ""
                },
                "license": {
                  "type": "object",
                  "additionalProperties": false,
                  "properties": {
                    "id": {
                      "type": "string",
                      "description": "",
                      "default": ""
                    },
                    "name": {
                      "type": "string",
                      "description": "",
                      "default": ""
                    },
                    "url": {
                      "type": "string",
                      "description": "",
                      "default": ""
                    }
                  }
                }
              }
            }
          },
          "purl": {
            "type": "string",
            "description": "",
            "default": ""
          },
          "externalReferences": {
            "type": "array",
            "items": {
              "type": "object",
              "additionalProperties": false,
              "description": "",
              "properties": {
                "type": {
                  "type": "string",
                  "description": "",
                  "default": ""
                },
                "url": {
                  "type": "string",
                  "description": "",
                  "default": ""
                }
              },
              "required": [
                "type",
                "url"
              ]
            }
          },
          "type": {
            "type": "string",
            "description": "",
            "default": "application"
          },
          "bom-ref": {
            "type": "string",
            "description": "",
            "default": ""
          },
          "evidence": {
            "type": "object",
            "additionalProperties": false,
            "properties": {
              "identity": {
                "type": "object",
                "additionalProperties": false,
                "description": "",
                "properties": {
                  "field": {
                    "type": "string",
                    "description": "",
                    "default": ""
                  },
                  "confidence": {
                    "type": "number",
                    "description": "",
                    "default": 0
                  },
                  "methods": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "additionalProperties": false,
                      "description": "",
                      "properties": {
                        "technique": {
                          "type": "string",
                          "description": "",
                          "default": ""
                        },
                        "confidence": {
                          "type": "number",
                          "description": "",
                          "default": 0
                        },
                        "value": {
                          "type": "string",
                          "description": "",
                          "default": ""
                        }
                      },
                      "required": [
                        "confidence",
                        "technique",
                        "value"
                      ]
                    }
                  }
                },
                "required": [
                  "confidence",
                  "field",
                  "methods"
                ]
              },
              "occurrences": {
                "type": "array",
                "items": {
                  "type": "object",
                  "additionalProperties": false,
                  "description": "",
                  "properties": {
                    "location": {
                      "type": "string",
                      "description": "",
                      "default": ""
                    }
                  },
                  "required": [
                    "location"
                  ]
                }
              }
            },
            "required": [
              "identity"
            ]
          },
          "tags": {
            "type": "array",
            "items": {
              "type": "string",
              "description": "",
              "default": ""
            }
          },
          "properties": {
            "type": "array",
            "items": {
              "type": "object",
              "additionalProperties": false,
              "description": "",
              "properties": {
                "name": {
                  "type": "string",
                  "description": "",
                  "default": ""
                },
                "value": {
                  "type": "string",
                  "description": "",
                  "default": ""
                }
              },
              "required": [
                "name",
                "value"
              ]
            }
          },
          "cryptoProperties": {
            "type": "array",
            "items": {
              "type": "object",
              "additionalProperties": false,
              "description": "",
              "properties": {
                "assetType": {
                  "type": "string",
                  "description": "",
                  "default": ""
                },
                "algorithmProperties": {
                  "type": "object",
                  "additionalProperties": false,
                  "description": "",
                  "properties": {
                    "executionEnvironment": {
                      "type": "string",
                      "description": "",
                      "default": ""
                    },
                    "implementationPlatform": {
                      "type": "string",
                      "description": "",
                      "default": ""
                    }
                  },
                  "required": [
                    "executionEnvironment",
                    "implementationPlatform"
                  ]
                }
              },
              "required": [
                "algorithmProperties",
                "assetType"
              ]
            }
          },
          "components": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/CDXComponentSchema"
            }
          }
        },
        "required": [
          "bom-ref",
          "group",
          "name",
          "purl",
          "type",
          "version"
        ]
      },
      "SocketIssue": {
        "anyOf": [
          {
            "type": "object",
            "additionalProperties": false,
            "properties": {
              "type": {
                "type": "string",
                "enum": [
                  "criticalCVE"
                ]
              },
              "value": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/SocketIssueBasics"
                  },
                  {
                    "type": "object",
                    "additionalProperties": false,
                    "properties": {
                      "description": {
                        "type": "string",
                        "description": "",
                        "default": ""
                      },
                      "props": {
                        "type": "object",
                        "additionalProperties": false,
                        "description": "",
                        "properties": {
                          "cveId": {
                            "type": "string",
                            "description": "",
                            "default": ""
                          },
                          "cwes": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": false,
                              "description": "",
                              "properties": {
                                "description": {
                                  "type": "string",
                                  "description": "",
                                  "default": ""
                                },
                                "id": {
                                  "type": "string",
                                  "description": "",
                                  "default": ""
                                },
                                "name": {
                                  "type": "string",
                                  "description": "",
                                  "default": ""
                                }
                              },
                              "required": [
                                "description",
                                "id",
                                "name"
                              ]
                            }
                          },
                          "cvss": {
                            "type": "object",
                            "additionalProperties": false,
                            "description": "",
                            "properties": {
                              "score": {
                                "type": "number",
                                "description": "",
                                "default": 0
                              },
                              "vectorString": {
                                "type": "string",
                                "description": "",
                                "default": ""
                              }
                            },
                            "required": [
                              "score",
                              "vectorString"
                            ]
                          },
                          "description": {
                            "type": "string",
                            "description": "",
                            "default": ""
                          },
                          "firstPatchedVersionIdentifier": {
                            "type": "string",
                            "description": "",
                            "default": ""
                          },
                          "ghsaId": {
                            "type": "string",
                            "description": "",
                            "default": ""
                          },
                          "severity": {
                            "type": "string",
                            "description": "",
                            "default": "critical"
                          },
                          "title": {
                            "type": "string",
                            "description": "",
                            "default": ""
                          },
                          "url": {
                            "type": "string",
                            "description": "",
                            "default": ""
                          },
                          "vulnerableVersionRange": {
                            "type": "string",
                            "description": "",
                            "default": ""
                          }
                        },
                        "required": [
                          "cveId",
                          "cvss",
                          "cwes",
                          "description",
                          "firstPatchedVersionIdentifier",
                          "ghsaId",
                          "severity",
                          "title",
                          "url",
                          "vulnerableVersionRange"
                        ]
                      },
                      "usage": {
                        "$ref": "#/components/schemas/SocketUsageRef"
                      }
                    },
                    "required": [
                      "description",
                      "props"
                    ]
                  }
                ]
              }
            }
          },
          {
            "type": "object",
            "additionalProperties": false,
            "properties": {
              "type": {
                "type": "string",
                "enum": [
                  "cve"
                ]
              },
              "value": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/SocketIssueBasics"
                  },
                  {
                    "type": "object",
                    "additionalProperties": false,
                    "properties": {
                      "description": {
                        "type": "string",
                        "description": "",
                        "default": ""
                      },
                      "props": {
                        "type": "object",
                        "additionalProperties": false,
                        "description": "",
                        "properties": {
                          "cveId": {
                            "type": "string",
                            "description": "",
                            "default": ""
                          },
                          "cwes": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": false,
                              "description": "",
                              "properties": {
                                "description": {
                                  "type": "string",
                                  "description": "",
                                  "default": ""
                                },
                                "id": {
                                  "type": "string",
                                  "description": "",
                                  "default": ""
                                },
                                "name": {
                                  "type": "string",
                                  "description": "",
                                  "default": ""
                                }
                              },
                              "required": [
                                "description",
                                "id",
                                "name"
                              ]
                            }
                          },
                          "cvss": {
                            "type": "object",
                            "additionalProperties": false,
                            "description": "",
                            "properties": {
                              "score": {
                                "type": "number",
                                "description": "",
                                "default": 0
                              },
                              "vectorString": {
                                "type": "string",
                                "description": "",
                                "default": ""
                              }
                            },
                            "required": [
                              "score",
                              "vectorString"
                            ]
                          },
                          "description": {
                            "type": "string",
                            "description": "",
                            "default": ""
                          },
                          "firstPatchedVersionIdentifier": {
                            "type": "string",
                            "description": "",
                            "default": ""
                          },
                          "ghsaId": {
                            "type": "string",
                            "description": "",
                            "default": ""
                          },
                          "severity": {
                            "type": "string",
                            "description": "",
                            "default": "critical"
                          },
                          "title": {
                            "type": "string",
                            "description": "",
                            "default": ""
                          },
                          "url": {
                            "type": "string",
                            "description": "",
                            "default": ""
                          },
                          "vulnerableVersionRange": {
                            "type": "string",
                            "description": "",
                            "default": ""
                          }
                        },
                        "required": [
                          "cveId",
                          "cvss",
                          "cwes",
                          "description",
                          "firstPatchedVersionIdentifier",
                          "ghsaId",
                          "severity",
                          "title",
                          "url",
                          "vulnerableVersionRange"
                        ]
                      },
                      "usage": {
                        "$ref": "#/components/schemas/SocketUsageRef"
                      }
                    },
                    "required": [
                      "description",
                      "props"
                    ]
                  }
                ]
              }
            }
          },
          {
            "type": "object",
            "additionalProperties": false,
            "properties": {
              "type": {
                "type": "string",
                "enum": [
                  "mediumCVE"
                ]
              },
              "value": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/SocketIssueBasics"
                  },
                  {
                    "type": "object",
                    "additionalProperties": false,
                    "properties": {
                      "description": {
                        "type": "string",
                        "description": "",
                        "default": ""
                      },
                      "props": {
                        "type": "object",
                        "additionalProperties": false,
                        "description": "",
                        "properties": {
                          "cveId": {
                            "type": "string",
                            "description": "",
                            "default": ""
                          },
                          "cwes": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": false,
                              "description": "",
                              "properties": {
                                "description": {
                                  "type": "string",
                                  "description": "",
                                  "default": ""
                                },
                                "id": {
                                  "type": "string",
                                  "description": "",
                                  "default": ""
                                },
                                "name": {
                                  "type": "string",
                                  "description": "",
                                  "default": ""
                                }
                              },
                              "required": [
                                "description",
                                "id",
                                "name"
                              ]
                            }
                          },
                          "cvss": {
                            "type": "object",
                            "additionalProperties": false,
                            "description": "",
                            "properties": {
                              "score": {
                                "type": "number",
                                "description": "",
                                "default": 0
                              },
                              "vectorString": {
                                "type": "string",
                                "description": "",
                                "default": ""
                              }
                            },
                            "required": [
                              "score",
                              "vectorString"
                            ]
                          },
                          "description": {
                            "type": "string",
                            "description": "",
                            "default": ""
                          },
                          "firstPatchedVersionIdentifier": {
                            "type": "string",
                            "description": "",
                            "default": ""
                          },
                          "ghsaId": {
                            "type": "string",
                            "description": "",
                            "default": ""
                          },
                          "severity": {
                            "type": "string",
                            "description": "",
                            "default": "critical"
                          },
                          "title": {
                            "type": "string",
                            "description": "",
                            "default": ""
                          },
                          "url": {
                            "type": "string",
                            "description": "",
                            "default": ""
                          },
                          "vulnerableVersionRange": {
                            "type": "string",
                            "description": "",
                            "default": ""
                          }
                        },
                        "required": [
                          "cveId",
                          "cvss",
                          "cwes",
                          "description",
                          "firstPatchedVersionIdentifier",
                          "ghsaId",
                          "severity",
                          "title",
                          "url",
                          "vulnerableVersionRange"
                        ]
                      },
                      "usage": {
                        "$ref": "#/components/schemas/SocketUsageRef"
                      }
                    },
                    "required": [
                      "description",
                      "props"
                    ]
                  }
                ]
              }
            }
          },
          {
            "type": "object",
            "additionalProperties": false,
            "properties": {
              "type": {
                "type": "string",
                "enum": [
                  "mildCVE"
                ]
              },
              "value": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/SocketIssueBasics"
                  },
                  {
                    "type": "object",
                    "additionalProperties": false,
                    "properties": {
                      "description": {
                        "type": "string",
                        "description": "",
                        "default": ""
                      },
                      "props": {
                        "type": "object",
                        "additionalProperties": false,
                        "description": "",
                        "properties": {
                          "cveId": {
                            "type": "string",
                            "description": "",
                            "default": ""
                          },
                          "cwes": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": false,
                              "description": "",
                              "properties": {
                                "description": {
                                  "type": "string",
                                  "description": "",
                                  "default": ""
                                },
                                "id": {
                                  "type": "string",
                                  "description": "",
                                  "default": ""
                                },
                                "name": {
                                  "type": "string",
                                  "description": "",
                                  "default": ""
                                }
                              },
                              "required": [
                                "description",
                                "id",
                                "name"
                              ]
                            }
                          },
                          "cvss": {
                            "type": "object",
                            "additionalProperties": false,
                            "description": "",
                            "properties": {
                              "score": {
                                "type": "number",
                                "description": "",
                                "default": 0
                              },
                              "vectorString": {
                                "type": "string",
                                "description": "",
                                "default": ""
                              }
                            },
                            "required": [
                              "score",
                              "vectorString"
                            ]
                          },
                          "description": {
                            "type": "string",
                            "description": "",
                            "default": ""
                          },
                          "firstPatchedVersionIdentifier": {
                            "type": "string",
                            "description": "",
                            "default": ""
                          },
                          "ghsaId": {
                            "type": "string",
                            "description": "",
                            "default": ""
                          },
                          "severity": {
                            "type": "string",
                            "description": "",
                            "default": "critical"
                          },
                          "title": {
                            "type": "string",
                            "description": "",
                            "default": ""
                          },
                          "url": {
                            "type": "string",
                            "description": "",
                            "default": ""
                          },
                          "vulnerableVersionRange": {
                            "type": "string",
                            "description": "",
                            "default": ""
                          }
                        },
                        "required": [
                          "cveId",
                          "cvss",
                          "cwes",
                          "description",
                          "firstPatchedVersionIdentifier",
                          "ghsaId",
                          "severity",
                          "title",
                          "url",
                          "vulnerableVersionRange"
                        ]
                      },
                      "usage": {
                        "$ref": "#/components/schemas/SocketUsageRef"
                      }
                    },
                    "required": [
                      "description",
                      "props"
                    ]
                  }
                ]
              }
            }
          },
          {
            "type": "object",
            "additionalProperties": false,
            "properties": {
              "type": {
                "type": "string",
                "enum": [
                  "installScripts"
                ]
              },
              "value": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/SocketIssueBasics"
                  },
                  {
                    "type": "object",
                    "additionalProperties": false,
                    "properties": {
                      "description": {
                        "type": "string",
                        "description": "",
                        "default": ""
                      },
                      "props": {
                        "type": "object",
                        "additionalProperties": false,
                        "description": "",
                        "properties": {
                          "script": {
                            "type": "string",
                            "description": "",
                            "default": ""
                          },
                          "source": {
                            "type": "string",
                            "description": "",
                            "default": ""
                          }
                        },
                        "required": [
                          "script",
                          "source"
                        ]
                      },
                      "usage": {
                        "$ref": "#/components/schemas/SocketUsageRef"
                      }
                    },
                    "required": [
                      "description",
                      "props"
                    ]
                  }
                ]
              }
            }
          },
          {
            "type": "object",
            "additionalProperties": false,
            "properties": {
              "type": {
                "type": "string",
                "enum": [
                  "hasNativeCode"
                ]
              },
              "value": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/SocketIssueBasics"
                  },
                  {
                    "type": "object",
                    "additionalProperties": false,
                    "properties": {
                      "description": {
                        "type": "string",
                        "description": "",
                        "default": ""
                      },
                      "props": {
                        "type": "object",
                        "additionalProperties": false,
                        "description": "",
                        "properties": {}
                      },
                      "usage": {
                        "$ref": "#/components/schemas/SocketUsageRef"
                      }
                    },
                    "required": [
                      "description",
                      "props"
                    ]
                  }
                ]
              }
            }
          },
          {
            "type": "object",
            "additionalProperties": false,
            "properties": {
              "type": {
                "type": "string",
                "enum": [
                  "binScriptConfusion"
                ]
              },
              "value": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/SocketIssueBasics"
                  },
                  {
                    "type": "object",
                    "additionalProperties": false,
                    "properties": {
                      "description": {
                        "type": "string",
                        "description": "",
                        "default": ""
                      },
                      "props": {
                        "type": "object",
                        "additionalProperties": false,
                        "description": "",
                        "properties": {
                          "binScript": {
                            "type": "string",
                            "description": "",
                            "default": ""
                          }
                        },
                        "required": [
                          "binScript"
                        ]
                      },
                      "usage": {
                        "$ref": "#/components/schemas/SocketUsageRef"
                      }
                    },
                    "required": [
                      "description",
                      "props"
                    ]
                  }
                ]
              }
            }
          },
          {
            "type": "object",
            "additionalProperties": false,
            "properties": {
              "type": {
                "type": "string",
                "enum": [
                  "shellScriptOverride"
                ]
              },
              "value": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/SocketIssueBasics"
                  },
                  {
                    "type": "object",
                    "additionalProperties": false,
                    "properties": {
                      "description": {
                        "type": "string",
                        "description": "",
                        "default": ""
                      },
                      "props": {
                        "type": "object",
                        "additionalProperties": false,
                        "description": "",
                        "properties": {
                          "binScript": {
                            "type": "string",
                            "description": "",
                            "default": ""
                          }
                        },
                        "required": [
                          "binScript"
                        ]
                      },
                      "usage": {
                        "$ref": "#/components/schemas/SocketUsageRef"
                      }
                    },
                    "required": [
                      "description",
                      "props"
                    ]
                  }
                ]
              }
            }
          },
          {
            "type": "object",
            "additionalProperties": false,
            "properties": {
              "type": {
                "type": "string",
                "enum": [
                  "filesystemAccess"
                ]
              },
              "value": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/SocketIssueBasics"
                  },
                  {
                    "type": "object",
                    "additionalProperties": false,
                    "properties": {
                      "description": {
                        "type": "string",
                        "description": "",
                        "default": ""
                      },
                      "props": {
                        "type": "object",
                        "additionalProperties": false,
                        "description": "",
                        "properties": {
                          "module": {
                            "type": "string",
                            "description": "",
                            "default": "fs"
                          }
                        },
                        "required": [
                          "module"
                        ]
                      },
                      "usage": {
                        "$ref": "#/components/schemas/SocketUsageRef"
                      }
                    },
                    "required": [
                      "description",
                      "props"
                    ]
                  }
                ]
              }
            }
          },
          {
            "type": "object",
            "additionalProperties": false,
            "properties": {
              "type": {
                "type": "string",
                "enum": [
                  "networkAccess"
                ]
              },
              "value": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/SocketIssueBasics"
                  },
                  {
                    "type": "object",
                    "additionalProperties": false,
                    "properties": {
                      "description": {
                        "type": "string",
                        "description": "",
                        "default": ""
                      },
                      "props": {
                        "type": "object",
                        "additionalProperties": false,
                        "description": "",
                        "properties": {
                          "module": {
                            "type": "string",
                            "description": "",
                            "default": "net"
                          }
                        },
                        "required": [
                          "module"
                        ]
                      },
                      "usage": {
                        "$ref": "#/components/schemas/SocketUsageRef"
                      }
                    },
                    "required": [
                      "description",
                      "props"
                    ]
                  }
                ]
              }
            }
          },
          {
            "type": "object",
            "additionalProperties": false,
            "properties": {
              "type": {
                "type": "string",
                "enum": [
                  "shellAccess"
                ]
              },
              "value": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/SocketIssueBasics"
                  },
                  {
                    "type": "object",
                    "additionalProperties": false,
                    "properties": {
                      "description": {
                        "type": "string",
                        "description": "",
                        "default": ""
                      },
                      "props": {
                        "type": "object",
                        "additionalProperties": false,
                        "description": "",
                        "properties": {
                          "module": {
                            "type": "string",
                            "description": "",
                            "default": "child_process"
                          }
                        },
                        "required": [
                          "module"
                        ]
                      },
                      "usage": {
                        "$ref": "#/components/schemas/SocketUsageRef"
                      }
                    },
                    "required": [
                      "description",
                      "props"
                    ]
                  }
                ]
              }
            }
          },
          {
            "type": "object",
            "additionalProperties": false,
            "properties": {
              "type": {
                "type": "string",
                "enum": [
                  "debugAccess"
                ]
              },
              "value": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/SocketIssueBasics"
                  },
                  {
                    "type": "object",
                    "additionalProperties": false,
                    "properties": {
                      "description": {
                        "type": "string",
                        "description": "",
                        "default": ""
                      },
                      "props": {
                        "type": "object",
                        "additionalProperties": false,
                        "description": "",
                        "properties": {
                          "module": {
                            "type": "string",
                            "description": "",
                            "default": "vm"
                          }
                        },
                        "required": [
                          "module"
                        ]
                      },
                      "usage": {
                        "$ref": "#/components/schemas/SocketUsageRef"
                      }
                    },
                    "required": [
                      "description",
                      "props"
                    ]
                  }
                ]
              }
            }
          },
          {
            "type": "object",
            "additionalProperties": false,
            "properties": {
              "type": {
                "type": "string",
                "enum": [
                  "longStrings"
                ]
              },
              "value": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/SocketIssueBasics"
                  },
                  {
                    "type": "object",
                    "additionalProperties": false,
                    "properties": {
                      "description": {
                        "type": "string",
                        "description": "",
                        "default": ""
                      },
                      "props": {
                        "type": "object",
                        "additionalProperties": false,
                        "description": "",
                        "properties": {}
                      },
                      "usage": {
                        "$ref": "#/components/schemas/SocketUsageRef"
                      }
                    },
                    "required": [
                      "description",
                      "props"
                    ]
                  }
                ]
              }
            }
          },
          {
            "type": "object",
            "additionalProperties": false,
            "properties": {
              "type": {
                "type": "string",
                "enum": [
                  "highEntropyStrings"
                ]
              },
              "value": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/SocketIssueBasics"
                  },
                  {
                    "type": "object",
                    "additionalProperties": false,
                    "properties": {
                      "description": {
                        "type": "string",
                        "description": "",
                        "default": ""
                      },
                      "props": {
                        "type": "object",
                        "additionalProperties": false,
                        "description": "",
                        "properties": {}
                      },
                      "usage": {
                        "$ref": "#/components/schemas/SocketUsageRef"
                      }
                    },
                    "required": [
                      "description",
                      "props"
                    ]
                  }
                ]
              }
            }
          },
          {
            "type": "object",
            "additionalProperties": false,
            "properties": {
              "type": {
                "type": "string",
                "enum": [
                  "urlStrings"
                ]
              },
              "value": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/SocketIssueBasics"
                  },
                  {
                    "type": "object",
                    "additionalProperties": false,
                    "properties": {
                      "description": {
                        "type": "string",
                        "description": "",
                        "default": ""
                      },
                      "props": {
                        "type": "object",
                        "additionalProperties": false,
                        "description": "",
                        "properties": {
                          "urlFragment": {
                            "type": "string",
                            "description": "",
                            "default": ""
                          }
                        },
                        "required": [
                          "urlFragment"
                        ]
                      },
                      "usage": {
                        "$ref": "#/components/schemas/SocketUsageRef"
                      }
                    },
                    "required": [
                      "description",
                      "props"
                    ]
                  }
                ]
              }
            }
          },
          {
            "type": "object",
            "additionalProperties": false,
            "properties": {
              "type": {
                "type": "string",
                "enum": [
                  "usesEval"
                ]
              },
              "value": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/SocketIssueBasics"
                  },
                  {
                    "type": "object",
                    "additionalProperties": false,
                    "properties": {
                      "description": {
                        "type": "string",
                        "description": "",
                        "default": ""
                      },
                      "props": {
                        "type": "object",
                        "additionalProperties": false,
                        "description": "",
                        "properties": {
                          "evalType": {
                            "type": "string",
                            "description": "",
                            "default": "eval"
                          }
                        },
                        "required": [
                          "evalType"
                        ]
                      },
                      "usage": {
                        "$ref": "#/components/schemas/SocketUsageRef"
                      }
                    },
                    "required": [
                      "description",
                      "props"
                    ]
                  }
                ]
              }
            }
          },
          {
            "type": "object",
            "additionalProperties": false,
            "properties": {
              "type": {
                "type": "string",
                "enum": [
                  "dynamicRequire"
                ]
              },
              "value": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/SocketIssueBasics"
                  },
                  {
                    "type": "object",
                    "additionalProperties": false,
                    "properties": {
                      "description": {
                        "type": "string",
                        "description": "",
                        "default": ""
                      },
                      "props": {
                        "type": "object",
                        "additionalProperties": false,
                        "description": "",
                        "properties": {}
                      },
                      "usage": {
                        "$ref": "#/components/schemas/SocketUsageRef"
                      }
                    },
                    "required": [
                      "description",
                      "props"
                    ]
                  }
                ]
              }
            }
          },
          {
            "type": "object",
            "additionalProperties": false,
            "properties": {
              "type": {
                "type": "string",
                "enum": [
                  "envVars"
                ]
              },
              "value": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/SocketIssueBasics"
                  },
                  {
                    "type": "object",
                    "additionalProperties": false,
                    "properties": {
                      "description": {
                        "type": "string",
                        "description": "",
                        "default": ""
                      },
                      "props": {
                        "type": "object",
                        "additionalProperties": false,
                        "description": "",
                        "properties": {
                          "envVars": {
                            "type": "string",
                            "description": "",
                            "default": ""
                          }
                        },
                        "required": [
                          "envVars"
                        ]
                      },
                      "usage": {
                        "$ref": "#/components/schemas/SocketUsageRef"
                      }
                    },
                    "required": [
                      "description",
                      "props"
                    ]
                  }
                ]
              }
            }
          },
          {
            "type": "object",
            "additionalProperties": false,
            "properties": {
              "type": {
                "type": "string",
                "enum": [
                  "missingDependency"
                ]
              },
              "value": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/SocketIssueBasics"
                  },
                  {
                    "type": "object",
                    "additionalProperties": false,
                    "properties": {
                      "description": {
                        "type": "string",
                        "description": "",
                        "default": ""
                      },
                      "props": {
                        "type": "object",
                        "additionalProperties": false,
                        "description": "",
                        "properties": {
                          "name": {
                            "type": "string",
                            "description": "",
                            "default": ""
                          }
                        },
                        "required": [
                          "name"
                        ]
                      },
                      "usage": {
                        "$ref": "#/components/schemas/SocketUsageRef"
                      }
                    },
                    "required": [
                      "description",
                      "props"
                    ]
                  }
                ]
              }
            }
          },
          {
            "type": "object",
            "additionalProperties": false,
            "properties": {
              "type": {
                "type": "string",
                "enum": [
                  "unusedDependency"
                ]
              },
              "value": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/SocketIssueBasics"
                  },
                  {
                    "type": "object",
                    "additionalProperties": false,
                    "properties": {
                      "description": {
                        "type": "string",
                        "description": "",
                        "default": ""
                      },
                      "props": {
                        "type": "object",
                        "additionalProperties": false,
                        "description": "",
                        "properties": {
                          "name": {
                            "type": "string",
                            "description": "",
                            "default": ""
                          },
                          "version": {
                            "type": "string",
                            "description": "",
                            "default": ""
                          }
                        },
                        "required": [
                          "name",
                          "version"
                        ]
                      },
                      "usage": {
                        "$ref": "#/components/schemas/SocketUsageRef"
                      }
                    },
                    "required": [
                      "description",
                      "props"
                    ]
                  }
                ]
              }
            }
          },
          {
            "type": "object",
            "additionalProperties": false,
            "properties": {
              "type": {
                "type": "string",
                "enum": [
                  "peerDependency"
                ]
              },
              "value": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/SocketIssueBasics"
                  },
                  {
                    "type": "object",
                    "additionalProperties": false,
                    "properties": {
                      "description": {
                        "type": "string",
                        "description": "",
                        "default": ""
                      },
                      "props": {
                        "type": "object",
                        "additionalProperties": false,
                        "description": "",
                        "properties": {
                          "name": {
                            "type": "string",
                            "description": "",
                            "default": ""
                          }
                        },
                        "required": [
                          "name"
                        ]
                      },
                      "usage": {
                        "$ref": "#/components/schemas/SocketUsageRef"
                      }
                    },
                    "required": [
                      "description",
                      "props"
                    ]
                  }
                ]
              }
            }
          },
          {
            "type": "object",
            "additionalProperties": false,
            "properties": {
              "type": {
                "type": "string",
                "enum": [
                  "uncaughtOptionalDependency"
                ]
              },
              "value": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/SocketIssueBasics"
                  },
                  {
                    "type": "object",
                    "additionalProperties": false,
                    "properties": {
                      "description": {
                        "type": "string",
                        "description": "",
                        "default": ""
                      },
                      "props": {
                        "type": "object",
                        "additionalProperties": false,
                        "description": "",
                        "properties": {
                          "name": {
                            "type": "string",
                            "description": "",
                            "default": ""
                          }
                        },
                        "required": [
                          "name"
                        ]
                      },
                      "usage": {
                        "$ref": "#/components/schemas/SocketUsageRef"
                      }
                    },
                    "required": [
                      "description",
                      "props"
                    ]
                  }
                ]
              }
            }
          },
          {
            "type": "object",
            "additionalProperties": false,
            "properties": {
              "type": {
                "type": "string",
                "enum": [
                  "unresolvedRequire"
                ]
              },
              "value": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/SocketIssueBasics"
                  },
                  {
                    "type": "object",
                    "additionalProperties": false,
                    "properties": {
                      "description": {
                        "type": "string",
                        "description": "",
                        "default": ""
                      },
                      "props": {
                        "type": "object",
                        "additionalProperties": false,
                        "description": "",
                        "properties": {}
                      },
                      "usage": {
                        "$ref": "#/components/schemas/SocketUsageRef"
                      }
                    },
                    "required": [
                      "description",
                      "props"
                    ]
                  }
                ]
              }
            }
          },
          {
            "type": "object",
            "additionalProperties": false,
            "properties": {
              "type": {
                "type": "string",
                "enum": [
                  "extraneousDependency"
                ]
              },
              "value": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/SocketIssueBasics"
                  },
                  {
                    "type": "object",
                    "additionalProperties": false,
                    "properties": {
                      "description": {
                        "type": "string",
                        "description": "",
                        "default": ""
                      },
                      "props": {
                        "type": "object",
                        "additionalProperties": false,
                        "description": "",
                        "properties": {}
                      },
                      "usage": {
                        "$ref": "#/components/schemas/SocketUsageRef"
                      }
                    },
                    "required": [
                      "description",
                      "props"
                    ]
                  }
                ]
              }
            }
          },
          {
            "type": "object",
            "additionalProperties": false,
            "properties": {
              "type": {
                "type": "string",
                "enum": [
                  "obfuscatedRequire"
                ]
              },
              "value": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/SocketIssueBasics"
                  },
                  {
                    "type": "object",
                    "additionalProperties": false,
                    "properties": {
                      "description": {
                        "type": "string",
                        "description": "",
                        "default": ""
                      },
                      "props": {
                        "type": "object",
                        "additionalProperties": false,
                        "description": "",
                        "properties": {}
                      },
                      "usage": {
                        "$ref": "#/components/schemas/SocketUsageRef"
                      }
                    },
                    "required": [
                      "description",
                      "props"
                    ]
                  }
                ]
              }
            }
          },
          {
            "type": "object",
            "additionalProperties": false,
            "properties": {
              "type": {
                "type": "string",
                "enum": [
                  "obfuscatedFile"
                ]
              },
              "value": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/SocketIssueBasics"
                  },
                  {
                    "type": "object",
                    "additionalProperties": false,
                    "properties": {
                      "description": {
                        "type": "string",
                        "description": "",
                        "default": ""
                      },
                      "props": {
                        "type": "object",
                        "additionalProperties": false,
                        "description": "",
                        "properties": {
                          "confidence": {
                            "type": "number",
                            "description": "",
                            "default": 0
                          }
                        },
                        "required": [
                          "confidence"
                        ]
                      },
                      "usage": {
                        "$ref": "#/components/schemas/SocketUsageRef"
                      }
                    },
                    "required": [
                      "description",
                      "props"
                    ]
                  }
                ]
              }
            }
          },
          {
            "type": "object",
            "additionalProperties": false,
            "properties": {
              "type": {
                "type": "string",
                "enum": [
                  "minifiedFile"
                ]
              },
              "value": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/SocketIssueBasics"
                  },
                  {
                    "type": "object",
                    "additionalProperties": false,
                    "properties": {
                      "description": {
                        "type": "string",
                        "description": "",
                        "default": ""
                      },
                      "props": {
                        "type": "object",
[...]
