name: CI

on:
  pull_request:
    branches:
      - master
  push:
    branches:
      - master

permissions:
  contents: read

concurrency:
  group: ${{ github.workflow }}-${{ github.head_ref || github.run_id }}
  cancel-in-progress: true

jobs:
  linting:
    name: "Linting"
    uses: SocketDev/workflows/.github/workflows/reusable-base.yml@master
    with:
      npm-test-script: 'lint'
  test:
    name: "Tests"
    uses: SocketDev/workflows/.github/workflows/reusable-base.yml@master
    with:
      npm-test-script: 'ci-test'
      node-versions: '14,16,18,19'
